{% load static %}

<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="{% static 'css/main.css' %}" />

  <!-- AlpineJS -->
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <!-- Lazyload CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.7.0/dist/lazyload.min.js"></script>

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/wwu.png' %}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/wwu.png' %}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/wwu.png' %}" />
  <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}" />
  <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#b91c1c" />
  <meta name="msapplication-TileColor" content="#f1f1f1" />
  <meta name="theme-color" content="#ffffff" />

  <!--Tailwindcss link-->
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>


  <!--Font awesome link-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- PAGE TITLE -->
  <title>WWU - Django</title>
  <!-- Page-Specific CSS -->
  {% block page_css %}{% endblock %}
</head>

<body>
  <!-- [ Header ] start -->
  {% include 'public_site/layout/partials/header.html' %}
  <!-- [ Header ] end -->

  <!-- [ Main Content ] start -->
  {% block content %}{% endblock %}
  <!-- [ Main Content ] end -->

  <!-- [ Footer ] start -->
  {% include 'public_site/layout/partials/footer.html' %}
  <!-- [ Footer ] end -->

  <!-- Lazyload Script -->
  <script>
    var lazyLoadInstance = new LazyLoad({
      callback_loaded: function (img) {
        img.closest('.animate-pulse').classList.remove('animate-pulse')
      },
    })
  </script>
  <!-- Page-Specific JS -->
  {% block page_js %}{% endblock %}
</body>

</html>