{% extends "layout/base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>{% if blog %}Edit{% else %}Create{% endif %} Blog</h5>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.title.id_for_label }}">Title</label>
                        {{ form.title }}
                        {% if form.title.errors %}
                            <div class="text-danger">{{ form.title.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="{{ form.category.id_for_label }}">Category</label>
                        {{ form.category }}
                        {% if form.category.errors %}
                            <div class="text-danger">{{ form.category.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="{{ form.tags.id_for_label }}">Tags</label>
                        {{ form.tags }}
                        {% if form.tags.errors %}
                            <div class="text-danger">{{ form.tags.errors }}</div>
                        {% endif %}
                    </div>                    

                    <div class="mb-3">
                        <label class="form-label" for="{{ form.content.id_for_label }}">Content</label>
                        {{ form.content }}
                        {% if form.content.errors %}
                            <div class="text-danger">{{ form.content.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.image.id_for_label }}" class="form-label">Blog Image</label>
                        <input type="file" name="image" id="image" class="form-control">
                        {% if form.image.errors %}
                            <div class="text-danger">{{ form.image.errors }}</div>
                        {% endif %}
                        {% if blog and blog.image %}
                            <img src="{{ blog.image.url }}" alt="Blog Image" class="img-fluid mt-2" width="150">
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="{{ form.author.id_for_label }}">Author</label>
                        {{ form.author }}
                        {% if form.author.errors %}
                            <div class="text-danger">{{ form.author.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="{{ form.is_published.id_for_label }}">Is published</label>
                        {{ form.is_published }}
                        {% if form.is_published.errors %}
                            <div class="text-danger">{{ form.is_published.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">{% if blog %} Update {% else %} Create {% endif %}</button>
                    <a href="{% url 'blog:blog_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block page_js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        $('.form-control[multiple]').select2({
            placeholder: "Select tags",
            allowClear: true
        });
    });
</script>
{% endblock %}