{% extends "layout/base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">{{text}}</h4>
                </div>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.title.id_for_label }}">Title</label>
                        {{ form.title }}
                        {% if form.title.errors %}
                            <div class="text-danger">{{ form.title.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="{{ form.subject.id_for_label }}">Subject</label>
                        {{ form.subject }}
                        {% if form.subject.errors %}
                            <div class="text-danger">{{ form.subject.errors }}</div>
                        {% endif %}
                    </div>                

                    <div class="mb-3">
                        <label class="form-label" for="{{ form.content.id_for_label }}">Content</label>
                        <div class="row">
                            {{ form.media }}
                            {{ form.content }}
                            {% if form.content.errors %}
                                <div class="text-danger">{{ form.content.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    {% comment %} <div class="mb-3">
                        <label for="{{ form.image.id_for_label }}" class="form-label">News Letter Image</label>
                        <input type="file" name="image" id="image" class="form-control">
                        {% if form.image.errors %}
                            <div class="text-danger">{{ form.image.errors }}</div>
                        {% endif %}
                        {% if news_letter and news_letter.image %}
                            <img src="{{ news_letter.image.url }}" alt="News Letter Image" class="img-fluid mt-2" width="150">
                        {% endif %}
                    </div> {% endcomment %}

                    {% comment %} <div class="mb-3">
                        <label class="form-label" for="{{ form.group.id_for_label }}">Group</label>
                        {{ form.group }}
                        {% if form.group.errors %}
                            <div class="text-danger">{{ form.group.errors }}</div>
                        {% endif %}
                    </div> {% endcomment %}

                    {% comment %} <div class="mb-3">
                        <label class="form-label" for="{{ form.status.id_for_label }}">Status</label>
                        {{ form.status }}
                        {% if form.status.errors %}
                            <div class="text-danger">{{ form.status.errors }}</div>
                        {% endif %}
                    </div> {% endcomment %}
                    <button type="submit" class="btn btn-primary">{% if news_letter %} Update {% else %} Create {% endif %}</button>
                    <a href="{% url 'news_letter:news_letters_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block page_js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        $('.form-control[multiple]').select2({
            placeholder: "Select tags",
            allowClear: true
        });
    });
</script>
{% endblock %}