{% extends "layout/base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>{% if author %}Edit{% else %}Create{% endif %} Author</h5>
            </div>
            <div class="card-body">
                <form method="post" >
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.username.id_for_label }}">User Name</label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="text-danger">{{ form.username.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.first_name.id_for_label }}">First Name</label>
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                            <div class="text-danger">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.last_name.id_for_label }}">Last Name</label>
                        {{ form.last_name }}
                        {% if form.last_name.errors %}
                            <div class="text-danger">{{ form.last_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.email.id_for_label }}">Email</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="text-danger">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="{{ form.password.id_for_label }}">Password</label>
                        {{ form.password }}
                        {% if form.password.errors %}
                            <div class="text-danger">{{ form.password.errors }}</div>
                        {% endif %}
                    </div>

                    

                    <div class="mb-3">
                        <label class="form-label" for="{{ form.is_active.id_for_label }}">Is Active</label>
                        {{ form.is_active }}
                        {% if form.is_active.errors %}
                            <div class="text-danger">{{ form.is_active.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">{% if form.password %} Update {% else %} Create {% endif %}</button>
                    <a href="{% url 'author:author_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}