{% load static %}

<header class="pc-header">
    <div class="m-header"><a href=""
            class="b-brand text-primary"><!-- ========    Change your logo from here     ============ --> <img
                src="{% static 'images/logo.png' %}" alt="logo image" style="width:50%" class="logo-lg"></a></div>
    <div class="header-wrapper"><!-- [Mobile Media Block] start -->
        <div class="me-auto pc-mob-drp">
            <ul class="list-unstyled"><!-- ======= Menu collapse Icon ===== -->
                <li class="pc-h-item pc-sidebar-collapse"><a href="#" class="pc-head-link ms-0" id="sidebar-hide"><i
                            class="ph ph-list"></i></a></li>
                <li class="pc-h-item pc-sidebar-popup"><a href="#" class="pc-head-link ms-0" id="mobile-collapse"><i
                            class="ph ph-list"></i></a></li>
            </ul>
        </div><!-- [Mobile Media Block end] -->
        <div class="ms-auto">
            <ul class="list-unstyled">
                <li class="dropdown pc-h-item"><a class="pc-head-link dropdown-toggle arrow-none me-0"
                        data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                        aria-expanded="false"><i class="ph ph-sun-dim"></i></a>
                    <div class="dropdown-menu dropdown-menu-end pc-h-dropdown"><a href="#!" class="dropdown-item"
                            onclick="layout_change('dark')"><i class="ph ph-moon"></i> <span>Dark</span> </a><a
                            href="#!" class="dropdown-item" onclick="layout_change('light')"><i
                                class="ph ph-sun-dim"></i> <span>Light</span> </a><a href="#!" class="dropdown-item"
                            onclick="layout_change_default()"><i class="ph ph-cpu"></i> <span>Default</span></a>
                    </div>
                </li>
                <li class="dropdown pc-h-item"><a class="pc-head-link dropdown-toggle arrow-none me-0"
                        data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                        aria-expanded="false"><i class="ph ph-diamonds-four"></i></a>
                    <div class="dropdown-menu dropdown-menu-end pc-h-dropdown"><a href="{% url 'myaccount:edit_profile' %}" class="dropdown-item"><i
                                class="ph ph-user"></i> <span>My Account</span> </a><a href="{% url 'authentication:logout' %}" class="dropdown-item"><i class="ph ph-power"></i> <span>Logout</span></a>
                    </div>
                </li>
                {% comment %} <li class="dropdown pc-h-item header-user-profile"><a
                        class="pc-head-link dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#"
                        role="button" aria-haspopup="false" data-bs-auto-close="outside" aria-expanded="false"><img
                            src="{% static 'images/user/avatar-2.jpg' %}" alt="user-image" class="user-avtar"></a>
                    <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown">
                        <div class="dropdown-header d-flex align-items-center justify-content-between">
                            <h4 class="m-0">Profile</h4>
                        </div>
                        <div class="dropdown-body">
                            <div class="profile-notification-scroll position-relative"
                                style="max-height: calc(100vh - 225px)">
                                <ul class="list-group list-group-flush w-100">
                                    <li class="list-group-item">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0"><img src="{% static 'images/user/avatar-2.jpg' %}"
                                                    alt="user-image" class="wid-50 rounded-circle"></div>
                                            <div class="flex-grow-1 mx-3">
                                                <h5 class="mb-0">Carson Darrin</h5><a class="link-primary"
                                                    href="https://codedthemes.com/cdn-cgi/l/email-protection#ff9c9e8d8c9091d19b9e8d8d9691bf9c90928f9e9186d19690"><span
                                                        class="__cf_email__"
                                                        data-cfemail="65060417160a0b4b010417170c0b25060a0815040b1c4b0c0a">[email&#160;protected]</span></a>
                                            </div><span class="badge bg-primary">PRO</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item"><a href="#" class="dropdown-item"><span
                                                class="d-flex align-items-center"><i class="ph ph-key"></i>
                                                <span>Change password</span> </span></a><a href="#"
                                            class="dropdown-item"><span class="d-flex align-items-center"><i
                                                    class="ph ph-envelope-simple"></i> <span>Recently
                                                    mail</span></span>
                                            <div class="user-group"><img src="{% static 'images/user/avatar-1.jpg' %}"
                                                    alt="user-image" class="avtar"> <img
                                                    src="{% static 'images/user/avatar-2.jpg' %}" alt="user-image"
                                                    class="avtar"> <img src="{% static 'images/user/avatar-3.jpg' %}"
                                                    alt="user-image" class="avtar"></div>
                                        </a><a href="#" class="dropdown-item"><span
                                                class="d-flex align-items-center"><i
                                                    class="ph ph-calendar-blank"></i> <span>Schedule
                                                    meetings</span></span></a></li>
                                    <li class="list-group-item"><a href="#" class="dropdown-item"><span
                                                class="d-flex align-items-center"><i class="ph ph-heart"></i>
                                                <span>Favorite</span> </span></a><a href="#"
                                            class="dropdown-item"><span class="d-flex align-items-center"><i
                                                    class="ph ph-arrow-circle-down"></i> <span>Download</span>
                                            </span><span
                                                class="avtar avtar-xs rounded-circle bg-danger text-white">10</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="dropdown-item"><span class="d-flex align-items-center"><i
                                                    class="ph ph-globe-hemisphere-west"></i> <span>Languages</span>
                                            </span><span class="flex-shrink-0"><select
                                                    class="form-select bg-transparent form-select-sm border-0 shadow-none">
                                                    <option value="1">English</option>
                                                    <option value="2">Spain</option>
                                                    <option value="3">Arbic</option>
                                                </select></span></div><a href="#" class="dropdown-item"><span
                                                class="d-flex align-items-center"><i class="ph ph-flag"></i>
                                                <span>Country</span></span></a>
                                    </li>
                                    <li class="list-group-item"><a href="#" class="dropdown-item"><span
                                                class="d-flex align-items-center"><i class="ph ph-user-circle"></i>
                                                <span>Edit profile</span> </span></a><a href="#"
                                            class="dropdown-item"><span class="d-flex align-items-center"><i
                                                    class="ph ph-star text-warning"></i> <span>Upgrade
                                                    account</span> <span
                                                    class="badge bg-light-success border border-success ms-2">NEW</span>
                                            </span></a><a href="#" class="dropdown-item"><span
                                                class="d-flex align-items-center"><i class="ph ph-bell"></i>
                                                <span>Notifications</span> </span></a><a href="#"
                                            class="dropdown-item"><span class="d-flex align-items-center"><i
                                                    class="ph ph-gear-six"></i> <span>Settings</span></span></a>
                                    </li>
                                    <li class="list-group-item"><a href="#" class="dropdown-item"><span
                                                class="d-flex align-items-center"><i class="ph ph-plus-circle"></i>
                                                <span>Add account</span> </span></a><a href="{% url 'authentication:logout' %}"
                                            class="dropdown-item"><span class="d-flex align-items-center"><i
                                                    class="ph ph-power"></i> <span>Logout</span></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li> {% endcomment %}
            </ul>
        </div>
    </div>
</header>