{% load static %}

<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header"><a href="index.html"
                class="b-brand text-primary"><!-- ========   Change your logo from here   ============ --> <img
                    src="{% static 'images/logo-white.svg' %}" alt="logo image" class="logo-lg"> <span
                    class="badge bg-primary rounded-pill ms-1 theme-version">v2.2.0</span></a></div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item pc-caption"><label data-i18n="Navigation">Navigation</label></li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-gauge"></i></span><span class="pc-mtext"
                            data-i18n="Dashboard">Dashboard</span> <span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="index.html" data-i18n="Sales">Sales</a></li>
                        <li class="pc-item"><a class="pc-link" href="index-analytics.html"
                                data-i18n="Analytics">Analytics</a></li>
                        <li class="pc-item"><a class="pc-link" href="index-affiliate.html"
                                data-i18n="Affiliate">Affiliate</a></li>
                        <li class="pc-item"><a class="pc-link" href="finance.html" data-i18n="Finance">Finance</a>
                        </li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-layout"></i></span><span class="pc-mtext"
                            data-i18n="Layouts">Layouts</span> <span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../demo/layout-compact.html"
                                data-i18n="Compact">Compact</a></li>
                        <li class="pc-item"><a class="pc-link" href="../demo/layout-horizontal.html"
                                data-i18n="Horizontal">Horizontal</a></li>
                        <li class="pc-item"><a class="pc-link" href="../demo/layout-tab.html"
                                data-i18n="Tab">Tab</a></li>
                        <li class="pc-item"><a class="pc-link" href="../demo/layout-vertical.html"
                                data-i18n="Vertical">Vertical</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-caption"><label data-i18n="Widget">Widget</label> <i
                        class="ph ph-chart-pie"></i></li>
                <li class="pc-item"><a href="../widget/w_statistics.html" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-projector-screen-chart"></i> </span><span class="pc-mtext"
                            data-i18n="Statistics">Statistics</span></a></li>
                <li class="pc-item"><a href="../widget/w_user.html" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-identification-card"></i> </span><span class="pc-mtext"
                            data-i18n="User">User</span></a></li>
                <li class="pc-item"><a href="../widget/w_data.html" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-database"></i> </span><span class="pc-mtext"
                            data-i18n="Data">Data</span></a></li>
                <li class="pc-item"><a href="../widget/w_chart.html" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-chart-pie"></i> </span><span class="pc-mtext"
                            data-i18n="Chart">Chart</span></a></li>
                <li class="pc-item pc-caption"><label data-i18n="Admin Panel">Admin Panel</label> <i
                        class="ph ph-books"></i></li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-books"></i> </span><span class="pc-mtext"
                            data-i18n="Online Courses">Online Courses</span> <span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../admins/course-dashboard.html"
                                data-i18n="Dashboard">Dashboard</a></li>
                        <li class="pc-item pc-hasmenu"><a class="pc-link" href="#!"><span
                                    data-i18n="Teacher">Teacher</span> <span class="pc-arrow"><i
                                        data-feather="chevron-right"></i></span></a>
                            <ul class="pc-submenu">
                                <li class="pc-item"><a class="pc-link" href="../admins/course-teacher-list.html"
                                        data-i18n="List">List</a></li>
                                <li class="pc-item"><a class="pc-link" href="../admins/course-teacher-apply.html"
                                        data-i18n="Apply">Apply</a></li>
                                <li class="pc-item"><a class="pc-link" href="../admins/course-teacher-add.html"
                                        data-i18n="Add">Add</a></li>
                            </ul>
                        </li>
                        <li class="pc-item pc-hasmenu"><a class="pc-link" href="#!"><span
                                    data-i18n="Student">Student</span> <span class="pc-arrow"><i
                                        data-feather="chevron-right"></i></span></a>
                            <ul class="pc-submenu">
                                <li class="pc-item"><a class="pc-link" href="../admins/course-student-list.html"
                                        data-i18n="List">list</a></li>
                                <li class="pc-item"><a class="pc-link" href="../admins/course-student-apply.html"
                                        data-i18n="Apply">Apply</a></li>
                                <li class="pc-item"><a class="pc-link" href="../admins/course-student-add.html"
                                        data-i18n="Add">Add</a></li>
                            </ul>
                        </li>
                        <li class="pc-item pc-hasmenu"><a class="pc-link" href="#!"><span
                                    data-i18n="Courses">Courses</span> <span class="pc-arrow"><i
                                        data-feather="chevron-right"></i></span></a>
                            <ul class="pc-submenu">
                                <li class="pc-item"><a class="pc-link" href="../admins/course-course-view.html"
                                        data-i18n="View">View</a></li>
                                <li class="pc-item"><a class="pc-link" href="../admins/course-course-add.html"
                                        data-i18n="Add">Add</a></li>
                            </ul>
                        </li>
                        <li class="pc-item"><a class="pc-link" href="../admins/course-pricing.html">Pricing</a></li>
                        <li class="pc-item"><a class="pc-link" href="../admins/course-site.html">Site</a></li>
                        <li class="pc-item pc-hasmenu"><a class="pc-link" href="#!"><span
                                    data-i18n="Setting">Setting</span> <span class="pc-arrow"><i
                                        data-feather="chevron-right"></i></span></a>
                            <ul class="pc-submenu">
                                <li class="pc-item"><a class="pc-link" href="../admins/course-setting-payment.html"
                                        data-i18n="Payment">Payment</a></li>
                                <li class="pc-item"><a class="pc-link" href="../admins/course-setting-pricing.html"
                                        data-i18n="Pricing">Pricing</a></li>
                                <li class="pc-item"><a class="pc-link"
                                        href="../admins/course-setting-notifications.html"
                                        data-i18n="Notification">Notifications</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-identification-badge"></i> </span><span class="pc-mtext"
                            data-i18n="Membership">Membership</span> <span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../admins/membership-dashboard.html"
                                data-i18n="Dashboard">Dashboard</a></li>
                        <li class="pc-item"><a class="pc-link" href="../admins/membership-list.html"
                                data-i18n="List">List</a></li>
                        <li class="pc-item"><a class="pc-link" href="../admins/membership-pricing.html"
                                data-i18n="Pricing">Pricing</a></li>
                        <li class="pc-item"><a class="pc-link" href="../admins/membership-setting.html"
                                data-i18n="Setting">Setting</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-lifebuoy"></i></span><span class="pc-mtext"
                            data-i18n="Helpdesk">Helpdesk</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../admins/helpdesk-dashboard.html"
                                data-i18n="Dashboard">Dashboard</a></li>
                        <li class="pc-item pc-hasmenu"><a class="pc-link" href="#!"><span
                                    data-i18n="Ticket">Ticket</span> <span class="pc-arrow"><i
                                        data-feather="chevron-right"></i></span></a>
                            <ul class="pc-submenu">
                                <li class="pc-item"><a class="pc-link" href="../admins/helpdesk-create-ticket.html"
                                        data-i18n="Create">Create</a></li>
                                <li class="pc-item"><a class="pc-link" href="../admins/helpdesk-ticket.html"
                                        data-i18n="List">List</a></li>
                                <li class="pc-item"><a class="pc-link" href="../admins/helpdesk-ticket-details.html"
                                        data-i18n="Details">Details</a></li>
                            </ul>
                        </li>
                        <li class="pc-item"><a class="pc-link" href="../admins/helpdesk-customer.html"
                                data-i18n="Customer">Customer</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-scroll"></i></span><span class="pc-mtext"
                            data-i18n="Invoice">invoice</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../admins/invoice-dashboard.html"
                                data-i18n="Dashboard">Dashboard</a></li>
                        <li class="pc-item"><a class="pc-link" href="../admins/invoice-create.html"
                                data-i18n="Create">Create</a></li>
                        <li class="pc-item"><a class="pc-link" href="../admins/invoice-view.html"
                                data-i18n="Details">Details</a></li>
                        <li class="pc-item"><a class="pc-link" href="../admins/invoice-list.html"
                                data-i18n="List">List</a></li>
                        <li class="pc-item"><a class="pc-link" href="../admins/invoice-edit.html"
                                data-i18n="Edit">Edit</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-caption"><label data-i18n="UI Components">UI Components</label> <i
                        class="ph ph-compass-tool"></i></li>
                <li class="pc-item"><a href="../elements/bc_alert.html" class="pc-link" target="_blank"><span
                            class="pc-micon"><i class="ph ph-compass-tool"></i></span><span class="pc-mtext"
                            data-i18n="Components">Components</span></a></li>
                <li class="pc-item"><a href="../elements/animation.html" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-flower"></i> </span><span class="pc-mtext"
                            data-i18n="Animation">Animation</span></a></li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-flower-lotus"></i></span><span class="pc-mtext"
                            data-i18n="Icons">Icons</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../elements/icon-feather.html"
                                data-i18n="Feather">Feather</a></li>
                        <li class="pc-item"><a class="pc-link" href="../elements/icon-fontawesome.html"
                                data-i18n="Font Awesome 5">Font Awesome 5</a></li>
                        <li class="pc-item"><a class="pc-link" href="../elements/icon-material.html"
                                data-i18n="Material">Material</a></li>
                        <li class="pc-item"><a class="pc-link" href="../elements/icon-tabler.html"
                                data-i18n="Tabler">Tabler</a></li>
                        <li class="pc-item"><a class="pc-link" href="../elements/icon-phosphor.html"
                                data-i18n="Phospher">Phosphor</a></li>
                        <li class="pc-item"><a class="pc-link" href="../elements/icon-custom.html"
                                data-i18n="Custom">Custom</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-caption"><label data-i18n="Forms">Forms</label> <i class="ph ph-textbox"></i>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-textbox"></i> </span><span class="pc-mtext"
                            data-i18n="Form Elements">Forms Elements</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../forms/form_elements.html"
                                data-i18n="Form Basic">Form Basic</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form_floating.html"
                                data-i18n="Form Floating">Form Floating</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_basic.html"
                                data-i18n="Form Options">Form Options</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_input_group.html"
                                data-i18n="Input Group">Input Groups</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_checkbox.html"
                                data-i18n="CheckBox">Checkbox</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_radio.html"
                                data-i18n="Radio">Radio</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_switch.html"
                                data-i18n="Switch">Switch</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_megaoption.html"
                                data-i18n="Mega Option">Mega option</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-plug-charging"></i> </span><span class="pc-mtext"
                            data-i18n="Form Plugins">Forms Plugins</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item pc-hasmenu"><a class="pc-link" href="#"><span
                                    data-i18n="Date">Date</span> <span class="pc-arrow"><i
                                        data-feather="chevron-right"></i></span></a>
                            <ul class="pc-submenu">
                                <li class="pc-item"><a class="pc-link" href="../forms/form2_datepicker.html"
                                        data-i18n="Date Picker">Datepicker</a></li>
                                <li class="pc-item"><a class="pc-link" href="../forms/form2_daterangepicker.html"
                                        data-i18n="Date Range Picker">Date Range Picker</a></li>
                                <li class="pc-item"><a class="pc-link" href="../forms/form2_timepicker.html"
                                        data-i18n="Timepicker">Timepicker</a></li>
                            </ul>
                        </li>
                        <li class="pc-item pc-hasmenu"><a class="pc-link" href="#"><span
                                    data-i18n="Select">Select</span> <span class="pc-arrow"><i
                                        data-feather="chevron-right"></i></span></a>
                            <ul class="pc-submenu">
                                <li class="pc-item"><a class="pc-link" href="../forms/form2_choices.html"
                                        data-i18n="Choices js">Choices js</a></li>
                            </ul>
                        </li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_rating.html"
                                data-i18n="Rating">Rating</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_recaptcha.html"
                                data-i18n="Google-Re-Captcha">Google reCaptcha</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_inputmask.html"
                                data-i18n="Input Mask">Input Masks</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_clipboard.html"
                                data-i18n="ClipBoard">Clipboard</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_nouislider.html"
                                data-i18n="Nouislider">Nouislider</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_switchjs.html"
                                data-i18n="Bootstrap Switch">Bootstrap Switch</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_typeahead.html"
                                data-i18n="TypeaHead">Typeahead</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-pen-nib"></i> </span><span class="pc-mtext"
                            data-i18n="Text Editor">Text Editors</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_tinymce.html"
                                data-i18n="Tinymce">Tinymce</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_quill.html"
                                data-i18n="Quill">Quill</a></li>
                        <li class="pc-item pc-hasmenu"><a class="pc-link" href="#"><span data-i18n="CK editor">CK
                                    editor</span> <span class="pc-arrow"><i
                                        data-feather="chevron-right"></i></span></a>
                            <ul class="pc-submenu">
                                <li class="pc-item"><a class="pc-link" href="../forms/editor-classic.html"
                                        data-i18n="classic">classic</a></li>
                                <li class="pc-item"><a class="pc-link" href="../forms/editor-document.html"
                                        data-i18n="Document">Document</a></li>
                                <li class="pc-item"><a class="pc-link" href="../forms/editor-inline.html"
                                        data-i18n="Inline">Inline</a></li>
                                <li class="pc-item"><a class="pc-link" href="../forms/editor-balloon.html"
                                        data-i18n="Balloon">Balloon</a></li>
                            </ul>
                        </li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_markdown.html"
                                data-i18n="Markdown">Markdown</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-windows-logo"></i> </span><span class="pc-mtext"
                            data-i18n="Form Layouts">Form Layouts</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_lay-default.html"
                                data-i18n="Layouts">Layouts</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_lay-multicolumn.html"
                                data-i18n="MultiColumn">Multicolumn</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_lay-actionbars.html"
                                data-i18n="ActionBars">Actionbars</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_lay-stickyactionbars.html"
                                data-i18n="Sticky-ActionBar">Sticky Action bars</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-cloud-arrow-up"></i> </span><span class="pc-mtext"
                            data-i18n="File Upload">File upload</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../forms/file-upload.html"
                                data-i18n="Dropzone">Dropzone</a></li>
                        <li class="pc-item"><a class="pc-link" href="../forms/form2_flu-uppy.html"
                                data-i18n="Uppy">Uppy</a></li>
                    </ul>
                </li>
                <li class="pc-item"><a href="../forms/form2_wizard.html" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-tabs"></i> </span><span class="pc-mtext"
                            data-i18n="wizard">wizard</span></a></li>
                <li class="pc-item"><a href="../forms/form-validation.html" class="pc-link"><span
                            class="pc-micon"><i class="ph ph-password"></i> </span><span class="pc-mtext"
                            data-i18n="Form Validation">Form Validation</span></a></li>
                <li class="pc-item"><a href="../forms/image_crop.html" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-crop"></i> </span><span class="pc-mtext"
                            data-i18n="Images Cropper">Image cropper</span></a></li>
                <li class="pc-item pc-caption"><label data-i18n="Tables">table</label> <i class="ph ph-table"></i>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-table"></i> </span><span class="pc-mtext"
                            data-i18n="Bootstrap Table">Bootstrap Table</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../table/tbl_bootstrap.html"
                                data-i18n="Basic Table">Basic table</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/tbl_sizing.html"
                                data-i18n="Sizing table">Sizing table</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/tbl_border.html"
                                data-i18n="Border table">Border table</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/tbl_styling.html"
                                data-i18n="Styling table">Styling table</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-grid-nine"></i> </span><span class="pc-mtext"
                            data-i18n="Vanilla table">Vanilla Table</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../table/tbl_dt-simple.html"
                                data-i18n="Basic initialization">Basic initialization</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/tbl_dt-dynamic-import.html"
                                data-i18n="Dynamic Import">Dynamic Import</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/tbl_dt-render-column-cells.html"
                                data-i18n="Render Column Cells">Render Column Cells</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/tbl_dt-column-manipulation.html"
                                data-i18n="Column Manipulation">Column Manipulation</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/tbl_dt-datetime-sorting.html"
                                data-i18n="Datetime Sorting">Datetime Sorting</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/tbl_dt-methods.html"
                                data-i18n="Methods">Methods</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/tbl_dt-add-rows.html"
                                data-i18n="Add Rows">Add Rows</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/tbl_dt-fetch-api.html"
                                data-i18n="Fetch API">Fetch API</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/tbl_dt-filters.html"
                                data-i18n="Filters">Filters</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/tbl_dt-export.html"
                                data-i18n="Export">Export</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-text-columns"></i> </span><span class="pc-mtext"
                            data-i18n="Data Table">Data table</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../table/dt_advance.html"
                                data-i18n="Advance initialization">Advance initialization</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/dt_styling.html"
                                data-i18n="Styling">Styling</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/dt_api.html" data-i18n="API">API</a>
                        </li>
                        <li class="pc-item"><a class="pc-link" href="../table/dt_plugin.html"
                                data-i18n="Plug-in">Plug-in</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/dt_sources.html"
                                data-i18n="Data sources">Data sources</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-wall"></i> </span><span class="pc-mtext" data-i18n="DT extensions">DT
                            extensions</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../table/dt_ext_autofill.html"
                                data-i18n="Autofill">Autofill</a></li>
                        <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span
                                    data-i18n="Button">Button</span> <span class="pc-arrow"><i
                                        data-feather="chevron-right"></i></span></a>
                            <ul class="pc-submenu">
                                <li class="pc-item"><a class="pc-link" href="../table/dt_ext_basic_buttons.html"
                                        data-i18n="Basic button">Basic button</a></li>
                                <li class="pc-item"><a class="pc-link" href="../table/dt_ext_export_buttons.html"
                                        data-i18n="Data export">Data export</a></li>
                            </ul>
                        </li>
                        <li class="pc-item"><a class="pc-link" href="../table/dt_ext_col_reorder.html"
                                data-i18n="Col reorder">Col reorder</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/dt_ext_fixed_columns.html"
                                data-i18n="Fixed columns">Fixed columns</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/dt_ext_fixed_header.html"
                                data-i18n="Fixed header">Fixed header</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/dt_ext_key_table.html"
                                data-i18n="Key table">Key table</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/dt_ext_responsive.html"
                                data-i18n="Responsive">Responsive</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/dt_ext_row_reorder.html"
                                data-i18n="Row reorder">Row reorder</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/dt_ext_scroller.html"
                                data-i18n="Scroller">Scroller</a></li>
                        <li class="pc-item"><a class="pc-link" href="../table/dt_ext_select.html"
                                data-i18n="Select table">Select table</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-caption"><label data-i18n="Chart & Maps">Charts &amp; Maps</label> <i
                        class="ph ph-chart-pie-slice"></i></li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-chart-donut"></i> </span><span class="pc-mtext"
                            data-i18n="Charts">Charts</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../chart/chart-apex.html"
                                data-i18n="Apex Chart">Apex Chart</a></li>
                        <li class="pc-item"><a class="pc-link" href="../chart/chart-peity.html"
                                data-i18n="Peity Chart">Peity Chart</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-map-trifold"></i> </span><span class="pc-mtext"
                            data-i18n="Map">Maps</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../chart/map-vector.html"
                                data-i18n="Vector Map">Vector Map</a></li>
                        <li class="pc-item"><a class="pc-link" href="../chart/map-gmap.html"
                                data-i18n="Google Map">Gmaps</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-caption"><label data-i18n="Application">Application</label> <i
                        class="ph ph-buildings"></i></li>
                <li class="pc-item"><a href="../application/calendar.html" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-calendar-blank"></i> </span><span class="pc-mtext"
                            data-i18n="Calender">Calendar</span></a></li>
                <li class="pc-item"><a href="../application/chat.html" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-chats-circle"></i> </span><span class="pc-mtext"
                            data-i18n="Chat">Chat</span></a></li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-image"></i> </span><span class="pc-mtext"
                            data-i18n="Gallery">Gallery</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../application/gallery-grid.html"
                                data-i18n="Grid">Grid</a></li>
                        <li class="pc-item"><a class="pc-link" href="../application/gallery-masonry.html"
                                data-i18n="Masonry">Masonry</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-shopping-cart"></i> </span><span class="pc-mtext"
                            data-i18n="Ecommerce">E-commerce</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../application/ecom_product.html"
                                data-i18n="Product">Product</a></li>
                        <li class="pc-item"><a class="pc-link" href="../application/ecom_product-details.html"
                                data-i18n="Product-Detail">Product details</a></li>
                        <li class="pc-item"><a class="pc-link" href="../application/ecom_product-list.html"
                                data-i18n="Product-List">Product List</a></li>
                        <li class="pc-item"><a class="pc-link" href="../application/ecom_product-add.html"
                                data-i18n="Product Add">Add New Product</a></li>
                        <li class="pc-item"><a class="pc-link" href="../application/ecom_checkout.html"
                                data-i18n="Checkout">Checkout</a></li>
                    </ul>
                </li>
                <li class="pc-item"><a href="../application/mail.html" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-envelope-open"></i> </span><span class="pc-mtext"
                            data-i18n="Mail">Mail</span></a></li>
                <li class="pc-item"><a href="../application/plans.html" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-currency-circle-dollar"></i> </span><span class="pc-mtext"
                            data-i18n="Price">Plans</span></a></li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-user-circle"></i> </span><span class="pc-mtext"
                            data-i18n="Users">Users</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../application/account-profile.html"
                                data-i18n="Account Profile">Account Profile</a></li>
                        <li class="pc-item"><a class="pc-link" href="../application/social-media.html"
                                data-i18n="Social Profile">Social media</a></li>
                        <li class="pc-item"><a class="pc-link" href="../application/user-card.html"
                                data-i18n="User Card">User Card</a></li>
                        <li class="pc-item"><a class="pc-link" href="../application/user-list.html"
                                data-i18n="User List">User List</a></li>
                        <li class="pc-item"><a class="pc-link" href="../application/team.html"
                                data-i18n="Team">Team</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-newspaper"></i> </span><span class="pc-mtext"
                            data-i18n="Invoice">Invoice</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../application/invoice-list.html"
                                data-i18n="Invoice list">Invoice List</a></li>
                        <li class="pc-item"><a class="pc-link" href="../application/invoice-create.html"
                                data-i18n="Create">Create</a></li>
                        <li class="pc-item"><a class="pc-link" href="../application/invoice-view.html"
                                data-i18n="Preview">Preview</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-caption"><label data-i18n="pages">Pages</label> <i class="ph ph-devices"></i>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-shield-checkered"></i> </span><span class="pc-mtext"
                            data-i18n="Authentication">Authentication</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span
                                    data-i18n="Authentication 1">Authentication 1</span> <span class="pc-arrow"><i
                                        data-feather="chevron-right"></i></span></a>
                            <ul class="pc-submenu">
                                <li class="pc-item"><a class="pc-link" target="_blank" href="../pages/login-v1.html"
                                        data-i18n="Login">Login</a></li>
                                <li class="pc-item"><a class="pc-link" target="_blank"
                                        href="../pages/register-v1.html" data-i18n="Register">Register</a></li>
                                <li class="pc-item"><a class="pc-link" target="_blank"
                                        href="../pages/forgot-password-v1.html" data-i18n="Forget Password">Forgot
                                        Password</a></li>
                                <li class="pc-item"><a class="pc-link" target="_blank"
                                        href="../pages/reset-password-v1.html" data-i18n="Reset Password">reset
                                        password</a></li>
                                <li class="pc-item"><a class="pc-link" target="_blank"
                                        href="../pages/code-verification-v1.html" data-i18n="Code Verification">code
                                        verification</a></li>
                            </ul>
                        </li>
                        <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span
                                    data-i18n="Authentication 2">Authentication 2</span> <span class="pc-arrow"><i
                                        data-feather="chevron-right"></i></span></a>
                            <ul class="pc-submenu">
                                <li class="pc-item"><a class="pc-link" target="_blank" href="../pages/login-v2.html"
                                        data-i18n="Login">Login</a></li>
                                <li class="pc-item"><a class="pc-link" target="_blank"
                                        href="../pages/register-v2.html" data-i18n="Register">Register</a></li>
                                <li class="pc-item"><a class="pc-link" target="_blank"
                                        href="../pages/forgot-password-v2.html" data-i18n="Forget Password">Forgot
                                        password</a></li>
                                <li class="pc-item"><a class="pc-link" target="_blank"
                                        href="../pages/reset-password-v2.html" data-i18n="Reset Password">reset
                                        password</a></li>
                                <li class="pc-item"><a class="pc-link" target="_blank"
                                        href="../pages/code-verification-v2.html" data-i18n="Code Verification">code
                                        verification</a></li>
                            </ul>
                        </li>
                        <li class="pc-item"><a class="pc-link" href="../pages/login-modal.html"
                                data-i18n="Login Modal">Login Modal</a></li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-wrench"></i> </span><span class="pc-mtext"
                            data-i18n="Maintenance">Maintenance</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" target="_blank" href="../pages/error-404.html"
                                data-i18n="Error 404">Error 404</a></li>
                        <li class="pc-item"><a class="pc-link" target="_blank" href="../pages/connection-lost.html"
                                data-i18n="Connection lost">Connection lost</a></li>
                        <li class="pc-item"><a class="pc-link" target="_blank"
                                href="../pages/under-construction.html" data-i18n="Under construction">Under
                                Construction</a></li>
                        <li class="pc-item"><a class="pc-link" target="_blank" href="../pages/coming-soon.html"
                                data-i18n="Coming-Soon">Coming soon</a></li>
                    </ul>
                </li>
                <li class="pc-item"><a href="../index-2.html" class="pc-link" target="_blank"><span
                            class="pc-micon"><i class="ph ph-rocket"></i> </span><span class="pc-mtext"
                            data-i18n="Landing">Landing</span></a></li>
                <li class="pc-item"><a href="../pages/loading.html" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-fan"></i> </span><span class="pc-mtext"
                            data-i18n="Loading">Loading</span></a></li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-magnifying-glass"></i> </span><span class="pc-mtext"
                            data-i18n="Search">Search</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="../pages/search-page.html"
                                data-i18n="Search Page">Search Page</a></li>
                        <li class="pc-item"><a class="pc-link" href="../pages/contact-search.html"
                                data-i18n="Contact Search">Contact Search</a></li>
                    </ul>
                </li>
                <li class="pc-item"><a href="../pages/settings.html" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-globe"></i> </span><span class="pc-mtext"
                            data-i18n="Site Settings">Site Settings</span></a></li>
                <li class="pc-item pc-caption"><label data-i18n="Other">Other</label> <i class="ph ph-suitcase"></i>
                </li>
                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-tree-structure"></i> </span><span class="pc-mtext"
                            data-i18n="Menu levels">Menu levels</span><span class="pc-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="#!" data-i18n="Level 2.1">Level 2.1</a></li>
                        <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span
                                    data-i18n="Level 2.2">Level 2.2</span> <span class="pc-arrow"><i
                                        data-feather="chevron-right"></i></span></a>
                            <ul class="pc-submenu">
                                <li class="pc-item"><a class="pc-link" href="#!" data-i18n="Level 3.1">Level 3.1</a>
                                </li>
                                <li class="pc-item"><a class="pc-link" href="#!" data-i18n="Level 3.2">Level 3.2</a>
                                </li>
                                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span
                                            data-i18n="Level 3.3">Level 3.3</span> <span class="pc-arrow"><i
                                                data-feather="chevron-right"></i></span></a>
                                    <ul class="pc-submenu">
                                        <li class="pc-item"><a class="pc-link" href="#!" data-i18n="Level 4.1">Level
                                                4.1</a></li>
                                        <li class="pc-item"><a class="pc-link" href="#!" data-i18n="Level 4.2">Level
                                                4.2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span
                                    data-i18n="Level 2.3">Level 2.3</span> <span class="pc-arrow"><i
                                        data-feather="chevron-right"></i></span></a>
                            <ul class="pc-submenu">
                                <li class="pc-item"><a class="pc-link" href="#!" data-i18n="Level 3.1">Level 3.1</a>
                                </li>
                                <li class="pc-item"><a class="pc-link" href="#!" data-i18n="Level 3.2">Level 3.2</a>
                                </li>
                                <li class="pc-item pc-hasmenu"><a href="#!" class="pc-link"><span
                                            data-i18n="Level 3.3">Level 3.3</span> <span class="pc-arrow"><i
                                                data-feather="chevron-right"></i></span></a>
                                    <ul class="pc-submenu">
                                        <li class="pc-item"><a class="pc-link" href="#!" data-i18n="Level 4.1">Level
                                                4.1</a></li>
                                        <li class="pc-item"><a class="pc-link" href="#!" data-i18n="Level 4.2">Level
                                                4.2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="pc-item"><a href="../other/sample-page.html" class="pc-link"><span class="pc-micon"><i
                                class="ph ph-desktop"></i> </span><span class="pc-mtext"
                            data-i18n="Sample Page">Sample page</span></a></li>
            </ul>
            <div class="card nav-action-card bg-brand-color-1">
                <div class="card-body" style="background-image: url('../assets/images/layout/nav-card-bg.svg')">
                    <h5 class="text-white">Help Center</h5>
                    <p class="text-white text-opacity-75">Please contact us for more questions.</p><a
                        href="https://codedthemes.support-hub.io/" class="btn btn-light" target="_blank">Go to help
                        Center</a>
                </div>
            </div>
        </div>
    </div>
</nav>