{% load static %}

<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="index.html" class="b-brand text-primary">
                <!-- ========   Change your logo from here   ============ --> 
                <img src="{% static 'images/logo-white.svg' %}" alt="logo image" class="logo-lg"> 
            </a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item">
                    <a href="{% url 'web_admin_dashboard' %}" class="pc-link">
                        <span class="pc-micon"><i class="ph ph-gauge"></i></span>
                        <span class="pc-mtext" data-i18n="Dashboard">Dashboard</span> 
                    </a>
                </li>
                {% if can_view_category %}
                <li class="pc-item">
                    <a href="{% url 'category:category_list' %}" class="pc-link">
                        <span class="pc-micon"><i class="ph ph-layout"></i></span>
                        <span class="pc-mtext" data-i18n="Categories">Categories</span>
                    </a>
                </li>
                {% endif %}
                {% if can_view_post %}
                <li class="pc-item">
                    <a href="{% url 'post:post_list' %}" class="pc-link">
                        <span class="pc-micon"><i class="ph ph-cards"></i></span>
                        <span class="pc-mtext" data-i18n="Posts">Posts</span>
                    </a>
                </li>
                {% endif %}
                {% if can_view_tag %}
                <li class="pc-item">
                    <a href="{% url 'tag:tag_list' %}" class="pc-link">
                        <span class="pc-micon"><i class="ph ph-swatches"></i></span>
                        <span class="pc-mtext" data-i18n="Tags">Tags</span>
                    </a>
                </li>
                {% endif %}
                {% if can_view_group %}
                <li class="pc-item">
                    <a href="{% url 'group:group_list' %}" class="pc-link">
                        <span class="pc-micon"><i class="ph ph-users-three"></i></span>
                        <span class="pc-mtext" data-i18n="Groups">Groups</span>
                    </a>
                </li>
                {% endif %}
                {% if can_view_user %}
                <li class="pc-item">
                    <a href="{% url 'user:user_list' %}" class="pc-link">
                        <span class="pc-micon"><i class="ph ph-layout"></i></span>
                        <span class="pc-mtext" data-i18n="Users">Users</span>
                    </a>
                </li>
                {% endif %}
                {% if can_view_comment %}
                <li class="pc-item">
                    <a href="{% url 'comment:comment_list' %}" class="pc-link">
                        <span class="pc-micon"><i class="ph ph-chat"></i></span>
                        <span class="pc-mtext" data-i18n="Comments">Comments</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>