{% extends "public_site/layout/base.html" %}
{% load static %}

{% block content %}
    <!-- About Header -->
    <section
        class="relative bg-gray-900/80 bg-cover bg-center py-16 sm:py-24 lg:py-36"
      >
        <!-- Image -->
        <div class="absolute inset-0">
          <img
            class="h-full w-full object-cover"
            src="{% static 'images/about-hero.jpeg' %}"
            alt=""
          />
          <div
            class="absolute inset-0 bg-gray-800/80 mix-blend-multiply"
            aria-hidden="true"
          ></div>
        </div>
  
        <!-- Content -->
        <div
          class="relative mx-auto max-w-xl px-5 sm:px-12 md:max-w-3xl lg:max-w-screen-xl lg:px-8"
        >
          <div class="flex w-full items-center justify-between">
            <div class="max-w-xl">
              <p class="text-xs uppercase tracking-widest text-red-300">
                About Web Wizards usa
              </p>
              <h1
                class="mt-3 text-3xl font-medium tracking-normal text-white sm:mt-4 sm:text-4xl md:tracking-tight lg:text-5xl lg:leading-tight"
              >
                Illuminating today's stories on culture, business, and science
                through great journalism.
              </h1>
            </div>
          </div>
        </div>
    </section>
  
    <!-- About Story -->
    <section class="py-12 sm:py-20 lg:pt-24">
        <!-- Content -->
        <!-- Uses the official Tailwind CSS Typography plugin -->
        <div
            class="prose prose-lg mx-auto px-5 first-letter:text-4xl first-letter:font-bold first-letter:tracking-[.15em] prose-a:transition prose-a:duration-300 prose-a:ease-in-out hover:prose-a:text-red-700 prose-img:rounded-xl sm:px-6 lg:max-w-screen-xl lg:columns-2 lg:gap-x-10 lg:px-8"
        >
            <p>
            Quam venenatis gravida et urna molestie leo adipiscing dolore leo
            euismod quam. Aenean porta curabitur convallis pellentesque velit
            platea at neque phasellus. Aliquet pellentesque senectus velit magna
            ultrices iaculis justo habitasse vitae neque ornare nullam leo. Est
            facilisis mauris purus senectus nunc convallis praesent pharetra
            dictum dui molestie iaculis.
            </p>
            <p>
            Lorem ipsum dolor sit amet quis at praesent erat. Egestas justo ut
            tempus elementum aenean luctus <a href="#">an awesome link</a> fusce
            curabitur at malesuada.
            </p>

            <ul>
            <li>
                Urna magna mauris hendrerit molestie rhoncus enim magna tempor nisi.
            </li>
            <li>Lorem ipsum dolor sit amet tempus bibendum dolore ida.</li>
            <li>
                Eget consectetur orci sodales purus ac egestas consequat erat mattis
                mi sapien adipiscing hac.
            </li>
            </ul>
            <p>
            Lorem ipsum dolor sit amet netus viverra neque quisque nisi mattis
            dapibus dictumst. Erat venenatis iaculis a tellus a auctor cursus
            morbi neque molestie incididunt faucibus.
            </p>
            <p>
            Lorem ipsum dolor sit amet lobortis risus nisi lacus quisque porttitor
            fermentum arcu adipiscing.
            </p>
            <p>
            Lorem ipsum dolor sit amet <strong>bold text</strong> quam luctus
            praesent id.Gravida donec morbi incididunt enim sed sollicitudin
            malesuada tempus. Lorem ipsum dolor sit amet lectus quisque mauris
            scelerisque orci. Vulputate leo dolore leo tristique viverra posuere
            diam pellentesque nec sapien.
            </p>
            <blockquote>
            <p>
                Lorem ipsum dolor sit pretium nullam diam facilisi. Lacus volutpat
                malesuada fusce quis est integer euismod cras est suspendisse
                facilisi morbi.
            </p>
            </blockquote>
            <p>
            Lorem ipsum dolor sit amet quis at praesent erat. Egestas justo ut
            tempus elementum aenean luctus
            <a href="#">another awesome link</a> fusce curabitur at malesuada.
            </p>
            <p>
            Lorem ipsum dolor sit amet fermentum eget porta. Semper auctor tellus
            laoreet ut vulputate ullamcorper fringilla gravida dictum. Malesuada
            arcu aliquet cras molestie viverra vulputate netus dolore aliquam
            dictum ornare ullamcorper. Erat pretium bibendum dolore quis dictum
            vivamus libero curabitur consequat donec. Netus rhoncus adipiscing
            netus non urna egestas mattis mollis nullam odio diam dolore aenean.
            </p>
            <p>
            Lorem ipsum dolor sit amet quis habitasse rhoncus ac lobortis sapien.
            Mattis donec posuere facilisis do faucibus laoreet tellus interdum
            ultricies vulputate a fringilla senectus consequat.
            </p>
        </div>
    </section>

    <!-- Team Section -->
    <section class="bg-gray-50 py-12 sm:py-20 lg:py-28">
    <div
        class="mx-auto max-w-xl px-4 sm:max-w-3xl sm:px-6 md:px-8 lg:max-w-screen-xl"
    >
        <!-- Section Header -->
        <div class="mx-auto max-w-3xl text-center">
        <h2
            class="text-base font-medium uppercase tracking-widest text-red-600"
        >
            Our Authors
        </h2>
        <h3
            class="mt-2 text-3xl font-medium tracking-normal text-gray-900 sm:text-4xl md:tracking-tight lg:text-5xl lg:leading-tight"
        >
            We are a passionate team that values great journalism
        </h3>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
            Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam
            voluptatum cupiditate veritatis in accusamus quisquam.
        </p>
        </div>

        <!-- Team -->
        <div class="mx-auto mt-12 max-w-screen-xl sm:mt-16">
        <ul
            class="grid gap-4 sm:grid-cols-2 sm:gap-6 lg:grid-cols-3 lg:gap-8"
        >
            {% for author in authors %}
            <!-- 1st Team Member -->
            <li
            class="relative rounded-3xl border border-gray-300/70 bg-transparent px-6 py-10 text-center transition duration-300 ease-in-out hover:border-gray-300/30 hover:shadow-lg sm:px-10"
            >
            <div>
                <img
                class="mx-auto h-40 w-40 rounded-full object-cover xl:h-44 xl:w-44"
                src="{{ author.profile.image.url }}"
                alt=""
                />

                <div class="mt-6 leading-6">
                <h3 class="text-xl font-medium text-gray-900">
                    <a href="{% url 'blog_author' username=blog.author.username %}">
                    <span class="absolute inset-0" aria-hidden="true"></span>
                    {{ author.get_full_name }}
                    </a>
                </h3>
                <p class="mt-1 text-base text-red-600">Senior Writer</p>
                </div>

                <!-- Social Links -->
                <ul class="mt-6 flex items-center justify-center space-x-3">
                <!-- Twitter -->
                <li>
                    <a href="https://x.com/" class="group relative">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5 text-gray-400 transition duration-300 ease-in-out group-hover:text-gray-600"
                        viewBox="0 0 512 512"
                        fill="currentColor"
                    >
                        <path
                        d="M496 109.5a201.8 201.8 0 01-56.55 15.3 97.51 97.51 0 0043.33-53.6 197.74 197.74 0 01-62.56 23.5A99.14 99.14 0 00348.31 64c-54.42 0-98.46 43.4-98.46 96.9a93.21 93.21 0 002.54 22.1 280.7 280.7 0 01-203-101.3A95.69 95.69 0 0036 130.4c0 33.6 17.53 63.3 44 80.7A97.5 97.5 0 0135.22 199v1.2c0 47 34 86.1 79 95a100.76 100.76 0 01-25.94 3.4 94.38 94.38 0 01-18.51-1.8c12.51 38.5 48.92 66.5 92.05 67.3A199.59 199.59 0 0139.5 405.6a203 203 0 01-23.5-1.4A278.68 278.68 0 00166.74 448c181.36 0 280.44-147.7 280.44-275.8 0-4.2-.11-8.4-.31-12.5A198.48 198.48 0 00496 109.5z"
                        />
                    </svg>
                    </a>
                </li>

                <!-- Facebook -->
                <li>
                    <a href="https://www.facebook.com/" class="group relative">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5 text-gray-400 transition duration-300 ease-in-out group-hover:text-gray-600"
                        viewBox="0 0 512 512"
                        fill="currentColor"
                    >
                        <path
                        xmlns="http://www.w3.org/2000/svg"
                        d="M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16 24.51 0 50.15 4.38 50.15 4.38v55.13H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291v156.54c107.1-16.81 189-109.48 189-221.31z"
                        fill-rule="evenodd"
                        />
                    </svg>
                    </a>
                </li>

                <!-- Linkedin-->
                <li>
                    <a href="https://www.linkedin.com/" class="group relative">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5 text-gray-400 transition duration-300 ease-in-out group-hover:text-gray-600"
                        viewBox="0 0 512 512"
                        fill="currentColor"
                    >
                        <path
                        xmlns="http://www.w3.org/2000/svg"
                        d="M444.17 32H70.28C49.85 32 32 46.7 32 66.89v374.72C32 461.91 49.85 480 70.28 480h373.78c20.54 0 35.94-18.21 35.94-38.39V66.89C480.12 46.7 464.6 32 444.17 32zm-273.3 373.43h-64.18V205.88h64.18zM141 175.54h-.46c-20.54 0-33.84-15.29-33.84-34.43 0-19.49 13.65-34.42 34.65-34.42s33.85 14.82 34.31 34.42c-.01 19.14-13.31 34.43-34.66 34.43zm264.43 229.89h-64.18V296.32c0-26.14-9.34-44-32.56-44-17.74 0-28.24 12-32.91 23.69-1.75 4.2-2.22 9.92-2.22 15.76v113.66h-64.18V205.88h64.18v27.77c9.34-13.3 23.93-32.44 57.88-32.44 42.13 0 74 27.77 74 87.64z"
                        />
                    </svg>
                    </a>
                </li>
                </ul>
            </div>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    </section>

    <!-- Careers section -->
    <section class="bg-white py-12 sm:py-20 lg:py-28">
    <div
        class="mx-auto grid max-w-xl gap-12 px-5 sm:max-w-3xl sm:px-6 md:px-8 lg:max-w-screen-xl lg:grid-cols-2 lg:gap-16"
    >
        <!-- Content -->
        <div>
        <h2
            class="max-w-lg text-3xl font-medium tracking-normal text-gray-900 sm:text-4xl md:tracking-tight lg:text-5xl lg:leading-tight"
        >
            Join the best team in journalism
        </h2>
        <div class="mx-auto mt-6 text-lg leading-8 text-gray-500">
            <p>
            Quam venenatis gravida et urna molestie leo adipiscing dolore leo
            euismod quam. Aenean porta curabitur convallis pellentesque velit
            platea at neque phasellus. Aliquet pellentesque senectus velit
            magna ultrices iaculis justo habitasse vitae neque ornare nullam
            leo.
            </p>

            <a
            href="#"
            class="group mt-4 inline-flex items-center text-red-600 no-underline transition duration-300 ease-in-out hover:text-red-700 sm:mt-5"
            >
            Join our team
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="ml-2 h-5 w-5 transition duration-300 ease-in-out group-hover:translate-x-1.5 group-hover:text-red-700"
                viewBox="0 0 20 20"
                fill="currentColor"
            >
                <path
                fill-rule="evenodd"
                d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
                />
            </svg>
            </a>
        </div>
        </div>

        <!-- Locations -->
        <div class="flex flex-col justify-center">
        <ul class="space-y-12 lg:space-y-14">
            <!-- 1st Location -->
            <li class="flex">
            <div
                class="flex h-14 w-14 shrink-0 items-center justify-center rounded-lg bg-gray-50 text-gray-600 sm:h-16 sm:w-16"
            >
                <!-- Nucleo icon name: london -->
                <svg
                xmlns="http://www.w3.org/2000/svg"
                height="32"
                width="32"
                viewBox="0 0 32 32"
                >
                <g
                    stroke-linecap="square"
                    stroke-width="2"
                    fill="none"
                    stroke="currentColor"
                    stroke-linejoin="miter"
                    class="nc-icon-wrapper"
                    stroke-miterlimit="10"
                >
                    <polyline
                    data-cap="butt"
                    points="11,6 7,2 7,2 3,6 "
                    stroke-linecap="butt"
                    />
                    <line x1="18" y1="21" x2="18" y2="31" />
                    <line x1="25" y1="21" x2="25" y2="31" />
                    <rect x="2" y="18" width="10" height="13" />
                    <polyline points="12,23 31,23 31,31 12,31 " />
                    <rect x="1" y="6" width="12" height="12" />
                    <circle cx="7" cy="12" r="3" />
                    <line x1="31" y1="23" x2="31" y2="21" />
                    <line x1="1" y1="6" x2="1" y2="4" />
                    <line x1="13" y1="6" x2="13" y2="4" />
                    <line x1="7" y1="27" x2="7" y2="22" />
                </g>
                </svg>
            </div>
            <div class="ml-3.5 w-full sm:ml-6">
                <p class="text-lg font-medium leading-6 text-gray-900">
                London
                </p>
                <p class="mt-2 text-base text-gray-500">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Maiores impedit perferendis suscipit eaque iste dolor.
                </p>
            </div>
            </li>

            <!-- 2nd Location -->
            <li class="flex">
            <div
                class="flex h-14 w-14 shrink-0 items-center justify-center rounded-lg bg-gray-50 text-gray-600 sm:h-16 sm:w-16"
            >
                <!-- Nucleo icon name: ny-1 -->
                <svg
                class="h-6 w-6 sm:h-7 sm:w-7"
                xmlns="http://www.w3.org/2000/svg"
                height="32"
                width="32"
                viewBox="0 0 32 32"
                >
                <g
                    stroke-linecap="square"
                    stroke-width="2"
                    fill="none"
                    stroke="currentColor"
                    stroke-linejoin="miter"
                    class="nc-icon-wrapper"
                    stroke-miterlimit="10"
                >
                    <polyline points=" 9,31 4,31 4,13 9,13 " />
                    <polyline points=" 23,31 28,31 28,13 23,13 " />
                    <line x1="14" y1="12" x2="18" y2="12" />
                    <line x1="14" y1="16" x2="18" y2="16" />
                    <line x1="14" y1="20" x2="18" y2="20" />
                    <line x1="14" y1="24" x2="18" y2="24" />
                    <line x1="16" y1="31" x2="16" y2="28" />
                    <line x1="16" y1="3" x2="16" y2="1" />
                    <path
                    data-cap="butt"
                    d="M20,8.3V7c0-1.1-0.4-2.1-1.2-2.8 C18.1,3.4,17.1,3,16,3c-2.2,0-4,1.8-4,4v1.3"
                    stroke-linecap="butt"
                    />
                    <path
                    d="M16,7L16,7 c-3.9,0-7,3.1-7,7v17h14V14C23,10.1,19.9,7,16,7z"
                    />
                </g>
                </svg>
            </div>
            <div class="ml-3.5 w-full sm:ml-6">
                <p class="text-lg font-medium leading-6 text-gray-900">
                New York
                </p>
                <p class="mt-2 text-base text-gray-500">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Maiores impedit perferendis suscipit eaque iste dolor.
                </p>
            </div>
            </li>

            <!-- 3rd Location -->
            <li class="flex">
            <div
                class="flex h-14 w-14 shrink-0 items-center justify-center rounded-lg bg-gray-50 text-gray-600 sm:h-16 sm:w-16"
            >
                <!-- Nucleo icon name: sf-bridge -->
                <svg
                class="h-6 w-6 sm:h-7 sm:w-7"
                xmlns="http://www.w3.org/2000/svg"
                height="32"
                width="32"
                viewBox="0 0 32 32"
                >
                <g
                    stroke-linecap="square"
                    stroke-width="2"
                    fill="none"
                    stroke="currentColor"
                    stroke-linejoin="miter"
                    class="nc-icon-wrapper"
                    stroke-miterlimit="10"
                >
                    <path
                    data-cap="butt"
                    d="M1.5,27c0,2.2,1.8,4,4,4 C7,31,8.3,30.1,9,28.9c0.7,1.2,2,2.1,3.5,2.1c1.5,0,2.8-0.9,3.5-2.1c0.7,1.2,2,2.1,3.5,2.1c1.5,0,2.8-0.9,3.5-2.1 c0.7,1.2,2,2.1,3.5,2.1c2.2,0,4-1.8,4-4"
                    stroke-linecap="butt"
                    stroke="currentColor"
                    />
                    <line
                    data-cap="butt"
                    x1="16"
                    y1="21"
                    x2="16"
                    y2="13"
                    stroke-linecap="butt"
                    />
                    <line
                    data-cap="butt"
                    x1="11"
                    y1="21"
                    x2="11"
                    y2="12"
                    stroke-linecap="butt"
                    />
                    <line
                    data-cap="butt"
                    x1="21"
                    y1="21"
                    x2="21"
                    y2="12"
                    stroke-linecap="butt"
                    />
                    <polyline points="5,23 5,1 1,1 1,23 " />
                    <polyline points="31,23 31,1 27,1 27,23 " />
                    <line x1="5" y1="21" x2="27" y2="21" />
                    <path d="M5,2c0,6.1,4.9,11,11,11 c6.1,0,11-4.9,11-11" />
                </g>
                </svg>
            </div>
            <div class="ml-3.5 w-full sm:ml-6">
                <p class="text-lg font-medium leading-6 text-gray-900">
                San Francisco
                </p>
                <p class="mt-2 text-base text-gray-500">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Maiores impedit perferendis suscipit eaque iste dolor.
                </p>
            </div>
            </li>
        </ul>
        </div>
    </div>
    </section>
{% endblock %}