{% extends "public_site/layout/base.html" %}
{% load static %}

{% block content %}
<!-- Post -->
    <article class="bg-gray-50 pb-12 sm:pb-16 lg:pb-24">
      <!-- Post Header -->
        <header>
            <!-- Image -->
            <div class="aspect-h-2 aspect-w-3 w-full sm:aspect-h-1">
                <img src="{% if blog.image %}{{ blog.image.url }}{% else %}{% static 'images/feed-04.jpeg' %}{% endif %}" alt="{{ blog.title }}" class="object-cover object-center" />
            </div>

            <!-- Post Header Content -->
            <div class="px-5 lg:px-0">
                <!-- Article Information -->
                <div class="mx-auto mb-8 max-w-prose border-b border-gray-300/70 pb-8 pt-10 text-lg sm:pt-16">
                    <a href="{% url 'blog_category' blog.category.name %}" class="transition-color relative text-sm font-medium uppercase tracking-widest text-red-700 duration-300 ease-in-out hover:text-red-600">
                        {{ blog.category.name }}
                    </a>
                    <h2 class="mt-3.5 text-4xl font-medium tracking-normal text-gray-900 decoration-red-300 decoration-3 transition duration-300 ease-in-out group-hover:underline sm:mt-5 sm:text-5xl sm:leading-tight md:tracking-tight lg:text-6xl">
                        {{ blog.title }}
                    </h2>
                    <div>
                        <p class="mt-4 text-base leading-loose text-gray-600"></p>
                    </div>
                    <!-- Author meta -->
                    <div class="mt-6 flex items-center sm:mt-8">
                        <a href="{% url 'blog_author' user_id=blog.author.id %}" class="mr-3 flex-shrink-0">
                            <div class="relative">
                                <img class="h-8 w-8 rounded-xl object-cover object-center sm:h-9 sm:w-9" 
                                src="{% if blog.author.profile.image %}{{ blog.author.profile.image.url }}{% else %}{% static 'images/author-04.jpeg' %}{% endif %}" alt=""/>
                                <span class="absolute inset-0 rounded-xl shadow-inner" aria-hidden="true"></span>
                            </div>
                        </a>
                        <div class="flex items-center text-sm lg:text-[15px]">
                            <span class="hidden text-gray-500 sm:inline-block">By&nbsp;</span>
                            <a class="font-medium text-gray-700 hover:underline" href="{% url 'blog_author' user_id=blog.author.id %}">{{ blog.author.get_full_name }}</a>

                            <svg xmlns="http://www.w3.org/2000/svg" class="ml-3 h-[18px] w-[18px] text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                            </svg>
                            <span class="ml-1 text-gray-500">{{ blog.created_at|date:"F j, Y" }}</span>

                            {% comment %} <span class="hidden items-center sm:flex">
                                <svg xmlns="http://www.w3.org/2000/svg" class="ml-2.5 h-[18px] w-[18px] text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                </svg>
                                <span class="ml-1 text-gray-500">15 min read</span>
                            </span> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="px-5 lg:px-0">
            <!-- Post Content -->
            <!-- Uses the official Tailwind CSS Typography plugin -->
            <div class="prose mx-auto sm:prose-lg first-letter:text-4xl first-letter:font-bold first-letter:tracking-[.15em] prose-a:transition prose-a:duration-300 prose-a:ease-in-out hover:prose-a:text-red-700 prose-img:rounded-xl">
                <p>{{ blog.content }}</p>
            </div>

            <!-- Post Footer -->
            <footer class="divide-y-gray-300/70 mx-auto mt-12 max-w-prose divide-y text-lg sm:mt-14">
                <!-- Tags -->
                <ul class="-m-1 flex flex-wrap justify-start pb-8 sm:pb-10">
                    {% for tag in blog.tags.all %}
                    <li>
                        <a href="{% url 'blog_tag' slug=tag.slug %}">
                            <span class="m-1 inline-flex items-center rounded-full border border-gray-300/70 bg-transparent px-4 py-1 text-sm font-medium text-gray-800 transition duration-300 ease-in-out hover:text-red-700 sm:px-6 sm:py-2">
                                {{ tag.name }}
                            </span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>

                <!-- Social Share Buttons -->
                {% comment %} <div class="py-8 sm:py-10">
                    <div class="flex items-center justify-between">
                        <span class="text-lg font-medium text-gray-900"> Share </span>

                        <!-- Social Links -->
                        <ul class="flex items-center space-x-3">
                            <!-- Twitter -->
                            <li>
                                <a href="#" class="group flex h-10 w-10 items-center justify-center rounded-full border border-gray-300/70 bg-transparent transition duration-300 ease-in-out sm:h-12 sm:w-12">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 transform text-gray-700 transition duration-300 ease-in-out group-hover:scale-110 group-hover:text-red-700" viewBox="0 0 512 512" fill="currentColor">
                                        <path d="M496 109.5a201.8 201.8 0 01-56.55 15.3 97.51 97.51 0 0043.33-53.6 197.74 197.74 0 01-62.56 23.5A99.14 99.14 0 00348.31 64c-54.42 0-98.46 43.4-98.46 96.9a93.21 93.21 0 002.54 22.1 280.7 280.7 0 01-203-101.3A95.69 95.69 0 0036 130.4c0 33.6 17.53 63.3 44 80.7A97.5 97.5 0 0135.22 199v1.2c0 47 34 86.1 79 95a100.76 100.76 0 01-25.94 3.4 94.38 94.38 0 01-18.51-1.8c12.51 38.5 48.92 66.5 92.05 67.3A199.59 199.59 0 0139.5 405.6a203 203 0 01-23.5-1.4A278.68 278.68 0 00166.74 448c181.36 0 280.44-147.7 280.44-275.8 0-4.2-.11-8.4-.31-12.5A198.48 198.48 0 00496 109.5z"/>
                                    </svg>
                                </a>
                            </li>

                            <!-- Facebook -->
                            <li>
                                <a href="#" class="group flex h-10 w-10 items-center justify-center rounded-full border border-gray-300/70 bg-transparent transition duration-300 ease-in-out sm:h-12 sm:w-12">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 transform text-gray-700 transition duration-300 ease-in-out group-hover:scale-110 group-hover:text-red-700" viewBox="0 0 512 512" fill="currentColor">
                                        <path xmlns="http://www.w3.org/2000/svg" d="M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16 24.51 0 50.15 4.38 50.15 4.38v55.13H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291v156.54c107.1-16.81 189-109.48 189-221.31z" fill-rule="evenodd"/>
                                    </svg>
                                </a>
                            </li>

                            <!-- Instagram -->
                            <li>
                                <a href="#" class="group flex h-10 w-10 items-center justify-center rounded-full border border-gray-300/70 bg-transparent transition duration-300 ease-in-out sm:h-12 sm:w-12">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 transform text-gray-700 transition duration-300 ease-in-out group-hover:scale-110 group-hover:text-red-700" viewBox="0 0 512 512" fill="currentColor">
                                        <path xmlns="http://www.w3.org/2000/svg" d="M349.33 69.33a93.62 93.62 0 0193.34 93.34v186.66a93.62 93.62 0 01-93.34 93.34H162.67a93.62 93.62 0 01-93.34-93.34V162.67a93.62 93.62 0 0193.34-93.34h186.66m0-37.33H162.67C90.8 32 32 90.8 32 162.67v186.66C32 421.2 90.8 480 162.67 480h186.66C421.2 480 480 421.2 480 349.33V162.67C480 90.8 421.2 32 349.33 32z"/>
                                        <path xmlns="http://www.w3.org/2000/svg" d="M377.33 162.67a28 28 0 1128-28 27.94 27.94 0 01-28 28zM256 181.33A74.67 74.67 0 11181.33 256 74.75 74.75 0 01256 181.33m0-37.33a112 112 0 10112 112 112 112 0 00-112-112z"/>
                                    </svg>
                                </a>
                            </li>

                            <!-- Linkedin-->
                            <li>
                                <a href="#" class="group flex h-10 w-10 items-center justify-center rounded-full border border-gray-300/70 bg-transparent transition duration-300 ease-in-out sm:h-12 sm:w-12">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 transform text-gray-700 transition duration-300 ease-in-out group-hover:scale-110 group-hover:text-red-700" viewBox="0 0 512 512" fill="currentColor">
                                        <path xmlns="http://www.w3.org/2000/svg" d="M444.17 32H70.28C49.85 32 32 46.7 32 66.89v374.72C32 461.91 49.85 480 70.28 480h373.78c20.54 0 35.94-18.21 35.94-38.39V66.89C480.12 46.7 464.6 32 444.17 32zm-273.3 373.43h-64.18V205.88h64.18zM141 175.54h-.46c-20.54 0-33.84-15.29-33.84-34.43 0-19.49 13.65-34.42 34.65-34.42s33.85 14.82 34.31 34.42c-.01 19.14-13.31 34.43-34.66 34.43zm264.43 229.89h-64.18V296.32c0-26.14-9.34-44-32.56-44-17.74 0-28.24 12-32.91 23.69-1.75 4.2-2.22 9.92-2.22 15.76v113.66h-64.18V205.88h64.18v27.77c9.34-13.3 23.93-32.44 57.88-32.44 42.13 0 74 27.77 74 87.64z"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> {% endcomment %}

                <!-- Author Details -->
                <div class="py-8 sm:py-10">
                    <div class="flex w-full items-center justify-between">
                        <div class="flex flex-col sm:flex-row">
                            <!-- Image -->
                            <div class="flex-shrink-0">
                                <div class="relative w-fit">
                                    <img class="h-20 w-20 rounded-2xl object-cover object-center sm:h-24 sm:w-24" 
                                    src="{% if blog.author.profile.image %}{{ blog.author.profile.image.url }}{% else %}{% static 'images/author-04.jpeg' %}{% endif %}" alt="" />
                                    <span class="absolute inset-0 rounded-2xl shadow-inner" aria-hidden="true"></span>
                                </div>
                            </div>

                            <!-- Content -->
                            <div class="mt-5 text-left sm:ml-6 sm:mt-0">
                                <div class="flex items-center justify-between">
                                    <div class="'flex flex-col">
                                        <p class="text-xs uppercase tracking-widest text-red-600">
                                            Staff Writer
                                        </p>
                                        <h1 class="mt-1 text-xl font-medium tracking-normal text-gray-900 md:tracking-tight lg:leading-tight">
                                            {{ blog.author.get_full_name }}
                                        </h1>
                                    </div>
                                </div>

                                <p class="mt-2.5 text-base leading-loose text-gray-500">
                                    Lorem ipsum dolor sit amet mauris quis phasellus ornare dui
                                    lectus. Laoreet habitasse eiusmod nulla odio tortor neque
                                    diam convallis morbi dolore molestie tellus faucibus
                                    pharetra.
                                </p>

                                <!-- Author Social Links -->
                                <ul class="mt-3.5 flex items-center space-x-3">
                                    <li>
                                        <a href="#" class="group">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400 transition duration-300 ease-in-out group-hover:text-gray-600" viewBox="0 0 512 512" fill="currentColor">
                                                <path d="M496 109.5a201.8 201.8 0 01-56.55 15.3 97.51 97.51 0 0043.33-53.6 197.74 197.74 0 01-62.56 23.5A99.14 99.14 0 00348.31 64c-54.42 0-98.46 43.4-98.46 96.9a93.21 93.21 0 002.54 22.1 280.7 280.7 0 01-203-101.3A95.69 95.69 0 0036 130.4c0 33.6 17.53 63.3 44 80.7A97.5 97.5 0 0135.22 199v1.2c0 47 34 86.1 79 95a100.76 100.76 0 01-25.94 3.4 94.38 94.38 0 01-18.51-1.8c12.51 38.5 48.92 66.5 92.05 67.3A199.59 199.59 0 0139.5 405.6a203 203 0 01-23.5-1.4A278.68 278.68 0 00166.74 448c181.36 0 280.44-147.7 280.44-275.8 0-4.2-.11-8.4-.31-12.5A198.48 198.48 0 00496 109.5z"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="group">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400 transition duration-300 ease-in-out group-hover:text-gray-600" viewBox="0 0 512 512" fill="currentColor">
                                                <path xmlns="http://www.w3.org/2000/svg" d="M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16 24.51 0 50.15 4.38 50.15 4.38v55.13H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291v156.54c107.1-16.81 189-109.48 189-221.31z" fill-rule="evenodd"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="group">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400 transition duration-300 ease-in-out group-hover:text-gray-600" viewBox="0 0 512 512" fill="currentColor">
                                                <path xmlns="http://www.w3.org/2000/svg" d="M349.33 69.33a93.62 93.62 0 0193.34 93.34v186.66a93.62 93.62 0 01-93.34 93.34H162.67a93.62 93.62 0 01-93.34-93.34V162.67a93.62 93.62 0 0193.34-93.34h186.66m0-37.33H162.67C90.8 32 32 90.8 32 162.67v186.66C32 421.2 90.8 480 162.67 480h186.66C421.2 480 480 421.2 480 349.33V162.67C480 90.8 421.2 32 349.33 32z"/>
                                                <path xmlns="http://www.w3.org/2000/svg" d="M377.33 162.67a28 28 0 1128-28 27.94 27.94 0 01-28 28zM256 181.33A74.67 74.67 0 11181.33 256 74.75 74.75 0 01256 181.33m0-37.33a112 112 0 10112 112 112 112 0 00-112-112z"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="group">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400 transition duration-300 ease-in-out group-hover:text-gray-600" viewBox="0 0 512 512" fill="currentColor">
                                                <path xmlns="http://www.w3.org/2000/svg" d="M444.17 32H70.28C49.85 32 32 46.7 32 66.89v374.72C32 461.91 49.85 480 70.28 480h373.78c20.54 0 35.94-18.21 35.94-38.39V66.89C480.12 46.7 464.6 32 444.17 32zm-273.3 373.43h-64.18V205.88h64.18zM141 175.54h-.46c-20.54 0-33.84-15.29-33.84-34.43 0-19.49 13.65-34.42 34.65-34.42s33.85 14.82 34.31 34.42c-.01 19.14-13.31 34.43-34.66 34.43zm264.43 229.89h-64.18V296.32c0-26.14-9.34-44-32.56-44-17.74 0-28.24 12-32.91 23.69-1.75 4.2-2.22 9.92-2.22 15.76v113.66h-64.18V205.88h64.18v27.77c9.34-13.3 23.93-32.44 57.88-32.44 42.13 0 74 27.77 74 87.64z"/>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </article>
{% endblock %}