{% extends "public_site/layout/base.html" %}
{% load static %}

{% block content %}
    <!-- Contact Header -->
    <section class="bg-gray-50 py-12 sm:py-16 md:py-20 lg:py-24">
        <div
            class="mx-auto max-w-xl px-5 sm:px-8 md:max-w-2xl lg:max-w-screen-xl"
        >
            <!-- Content -->
            <div class="max-w-xl">
            <h1
                class="text-4xl font-medium tracking-normal text-gray-900 md:tracking-tight lg:text-5xl lg:leading-tight"
            >
                Contact us
            </h1>
            <p class="mt-3 text-lg text-gray-500">
                Lorem ipsum dolor sit amet adipiscing pulvinar nibh enim. Iaculis
                justo non nibh in lacus non nibh pellentesque libero aenean
                tincidunt dolore. Ornare etiam praesent mattis purus vitae dapibus
                at.
            </p>
            </div>
        </div>
    </section>
      
    <!-- Contact main-->
    <section
    class="relative mx-auto max-w-screen-xl py-12 md:py-16 lg:px-8 lg:py-24"
    >
    <div class="w-full lg:flex lg:items-start lg:space-x-8">
        <!-- Contact Information -->
        <div class="space-y-16 lg:w-2/3">
        <!-- Get in touch -->
        <div
            class="mx-auto max-w-xl px-5 sm:px-8 md:max-w-2xl lg:max-w-none lg:px-0 lg:pr-24 xl:pr-48"
        >
            <h3
            class="relative border-b border-gray-300/70 pb-2.5 text-2xl font-medium text-gray-900 before:absolute before:-bottom-px before:left-0 before:h-px before:w-24 before:bg-red-600 before:content-['']"
            >
            Get in touch
            </h3>

            <div class="relative mt-10">
            <!-- Contact Channels -->
            <div class="grid gap-12 sm:grid-cols-2">
                <!-- 1st Channel -->
                <div>
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    Advertise
                </h3>
                <div class="mt-2 space-y-1 text-md">
                    <p class="text-gray-500">Emily Bell</p>
                    <a
                    href="#"
                    class="text-red-700 transition duration-300 ease-in-out hover:text-red-800"
                    >advertise@email.com</a
                    >
                    <p class="text-gray-500">+1 (800) 123-4567</p>
                </div>
                </div>

                <!-- 2nd Channel -->
                <div>
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    Press
                </h3>
                <div class="mt-2 space-y-1 text-md">
                    <p class="text-gray-500">Jorge Moreno</p>
                    <a
                    href="#"
                    class="text-red-700 transition duration-300 ease-in-out hover:text-red-800"
                    >press@email.com</a
                    >
                    <p class="text-gray-500">+1 (800) 123-4567</p>
                </div>
                </div>

                <!-- 3rd Channel -->
                <div>
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    Careers
                </h3>
                <div class="mt-2 space-y-1 text-md">
                    <p class="text-gray-500">Brandon Marshal</p>
                    <a
                    href="#"
                    class="text-red-700 transition duration-300 ease-in-out hover:text-red-800"
                    >careers@email.com</a
                    >
                    <p class="text-gray-500">+1 (800) 123-4567</p>
                </div>
                </div>

                <!-- 4th Channel -->
                <div>
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    Reuse Permissions
                </h3>
                <div class="mt-2 space-y-1 text-md">
                    <p class="text-gray-500">Crystal Anderson</p>
                    <a
                    href="#"
                    class="text-red-700 transition duration-300 ease-in-out hover:text-red-800"
                    >reprint@email.com</a
                    >
                    <p class="text-gray-500">+1 (800) 123-4567</p>
                </div>
                </div>

                <!-- 5th Channel -->
                <div>
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    Letters to the Editor
                </h3>
                <div class="mt-2 space-y-1 text-md">
                    <p class="text-gray-500">Jack Gates</p>
                    <a
                    href="#"
                    class="text-red-700 transition duration-300 ease-in-out hover:text-red-800"
                    >editors@email.com</a
                    >
                    <p class="text-gray-500">+1 (800) 123-4567</p>
                </div>
                </div>

                <!-- 6th Channel -->
                <div>
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    Pitches
                </h3>
                <div class="mt-2 space-y-1 text-md">
                    <p class="text-gray-500">Henry Cejudo</p>
                    <a
                    href="#"
                    class="text-red-700 transition duration-300 ease-in-out hover:text-red-800"
                    >pitches@email.com</a
                    >
                    <p class="text-gray-500">+1 (800) 123-4567</p>
                </div>
                </div>
            </div>

            <!-- General contact email -->
            <p class="mt-10 text-md text-gray-500 sm:mt-12">
                If your reason for contacting us does not fall in any of the
                above categories, you can email us at
                <a
                href="#"
                class="text-red-700 transition duration-300 ease-in-out hover:text-red-800"
                >contact@email.com</a
                >.
            </p>
            </div>
        </div>

        <!-- Locations -->
        <div
            class="mx-auto max-w-xl px-5 sm:px-8 md:max-w-2xl lg:max-w-none lg:px-0 lg:pr-48"
        >
            <h3
            class="relative border-b border-gray-300/70 pb-2.5 text-2xl font-medium text-gray-900 before:absolute before:-bottom-px before:left-0 before:h-px before:w-24 before:bg-red-600 before:content-['']"
            >
            Our locations
            </h3>

            <!-- Container -->
            <div class="relative mt-10">
            <div class="grid gap-12 sm:grid-cols-2">
                <!-- 1st Location -->
                <div>
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    London
                </h3>
                <div class="mt-2 space-y-1 text-md">
                    <p class="text-gray-500">88 Kings Road</p>
                    <p class="text-gray-500">London WC59 3BW</p>
                </div>
                </div>

                <!-- 2nd Location -->
                <div>
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    Washington D.C.
                </h3>
                <div class="mt-2 space-y-1 text-md">
                    <p class="text-gray-500">4303 Massachusetts Avenue</p>
                    <p class="text-gray-500">Washington, DC 20024</p>
                </div>
                </div>

                <!-- 3rd Location -->
                <div>
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    San Francisco
                </h3>
                <div class="mt-2 space-y-1 text-md">
                    <p class="text-gray-500">4974 Duck Creek Road</p>
                    <p class="text-gray-500">San Francisco, CA 94108</p>
                </div>
                </div>

                <!-- 4th Location -->
                <div>
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    New York
                </h3>
                <div class="mt-2 space-y-1 text-md">
                    <p class="text-gray-500">3345 Bell Street</p>
                    <p class="text-gray-500">New York, NY 10003</p>
                </div>
                </div>
            </div>
            </div>
        </div>

        <!-- Mail -->
        <div
            class="mx-auto max-w-xl px-4 sm:px-6 md:max-w-2xl md:px-8 lg:max-w-none lg:px-0 lg:pr-48"
        >
            <h3
            class="relative border-b border-gray-300/70 pb-2.5 text-2xl font-medium text-gray-900 before:absolute before:-bottom-px before:left-0 before:h-px before:w-24 before:bg-red-600 before:content-['']"
            >
            Send us mail
            </h3>

            <!-- Content -->
            <div class="relative mt-8">
            <div>
                <div class="space-y-1 text-md">
                <p class="text-gray-600">Banter Magazine</p>
                <p class="text-gray-600">PO Box 12345</p>
                <p class="text-gray-600">Wyoming, MI 49548</p>
                </div>
            </div>

            <p class="mt-8 text-md text-gray-500">
                Lorem ipsum dolor sit amet ornare arcu bibendum nunc. Phasellus
                praesent nisi malesuada imperdiet ac velit massa velit lacus
                hendrerit etiam nec.
            </p>
            </div>
        </div>
        </div>

        <!-- Sticky Sidebar -->
        <div
        class="mx-auto mt-12 w-full max-w-xl px-4 sm:mt-16 sm:px-6 md:max-w-2xl md:px-8 lg:sticky lg:top-8 lg:mt-0 lg:w-1/3 lg:max-w-none lg:px-0"
        >
        <!-- Social Media Links -->
        <div class="w-full rounded-2xl bg-gray-50 p-5 sm:p-8">
            <h3
            class="relative border-b border-gray-300/70 pb-2.5 text-2xl font-medium text-gray-900 before:absolute before:-bottom-px before:left-0 before:h-px before:w-24 before:bg-red-600 before:content-['']"
            >
            Follow us
            </h3>

            <!-- Links -->
            <div class="pt-5">
            <div class="overflow-hidden">
                <!-- Twitter -->
                <a
                href="https://x.com/"
                class="group flex w-full items-center justify-between"
                >
                <div class="flex items-center">
                    <div>
                    <span
                        class="flex h-9 w-9 items-center justify-center rounded-full border border-gray-300/70 bg-transparent transition duration-300 ease-in-out"
                    >
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-3.5 w-3.5 transform text-gray-700 transition duration-300 ease-in-out group-hover:scale-110 group-hover:text-red-700"
                        viewBox="0 0 512 512"
                        fill="currentColor"
                        >
                        <path
                            d="M496 109.5a201.8 201.8 0 01-56.55 15.3 97.51 97.51 0 0043.33-53.6 197.74 197.74 0 01-62.56 23.5A99.14 99.14 0 00348.31 64c-54.42 0-98.46 43.4-98.46 96.9a93.21 93.21 0 002.54 22.1 280.7 280.7 0 01-203-101.3A95.69 95.69 0 0036 130.4c0 33.6 17.53 63.3 44 80.7A97.5 97.5 0 0135.22 199v1.2c0 47 34 86.1 79 95a100.76 100.76 0 01-25.94 3.4 94.38 94.38 0 01-18.51-1.8c12.51 38.5 48.92 66.5 92.05 67.3A199.59 199.59 0 0139.5 405.6a203 203 0 01-23.5-1.4A278.68 278.68 0 00166.74 448c181.36 0 280.44-147.7 280.44-275.8 0-4.2-.11-8.4-.31-12.5A198.48 198.48 0 00496 109.5z"
                        />
                        </svg>
                    </span>
                    </div>

                    <div class="relative col-span-3 flex flex-col flex-wrap">
                    <div
                        class="box-border flex w-full flex-1 flex-col justify-between px-6 md:px-0"
                    >
                        <div
                        class="transition-color relative z-10 ml-3 text-base font-medium text-gray-700 duration-300 ease-in-out group-hover:text-red-600"
                        >
                        Twitter
                        </div>
                    </div>
                    </div>
                </div>

                <div>
                    <!-- heroicon name: solid/arrow-narrow-right -->
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mx-2 h-5 w-5 text-red-400 transition duration-300 ease-in-out group-hover:translate-x-1.5 group-hover:text-red-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    >
                    <path
                        fill-rule="evenodd"
                        d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                    />
                    </svg>
                </div>
                </a>

                <hr
                class="my-2.5 ml-13 w-full border-t border-dashed border-gray-300/70"
                />

                <!-- Facebook -->
                <a
                href="https://www.facebook.com/"
                class="group flex w-full items-center justify-between"
                >
                <div class="flex items-center">
                    <div>
                    <span
                        class="flex h-9 w-9 items-center justify-center rounded-full border border-gray-300/70 bg-transparent transition duration-300 ease-in-out"
                    >
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-3.5 w-3.5 transform text-gray-700 transition duration-300 ease-in-out group-hover:scale-110 group-hover:text-red-700"
                        viewBox="0 0 512 512"
                        fill="currentColor"
                        >
                        <path
                            xmlns="http://www.w3.org/2000/svg"
                            d="M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16 24.51 0 50.15 4.38 50.15 4.38v55.13H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291v156.54c107.1-16.81 189-109.48 189-221.31z"
                            fill-rule="evenodd"
                        />
                        </svg>
                    </span>
                    </div>

                    <div class="relative col-span-3 flex flex-col flex-wrap">
                    <div
                        class="box-border flex w-full flex-1 flex-col justify-between px-6 md:px-0"
                    >
                        <div
                        class="transition-color relative z-10 ml-3 text-base font-medium text-gray-700 duration-300 ease-in-out group-hover:text-red-600"
                        >
                        Facebook
                        </div>
                    </div>
                    </div>
                </div>

                <div>
                    <!-- heroicon name: solid/arrow-narrow-right -->
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mx-2 h-5 w-5 text-red-400 transition duration-300 ease-in-out group-hover:translate-x-1.5 group-hover:text-red-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    >
                    <path
                        fill-rule="evenodd"
                        d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                    />
                    </svg>
                </div>
                </a>

                <hr
                class="my-2.5 ml-13 w-full border-t border-dashed border-gray-300/70"
                />

                <!-- Instagram -->
                <a
                href="https://www.instagram.com/"
                class="group flex w-full items-center justify-between"
                >
                <div class="flex items-center">
                    <div>
                    <span
                        class="flex h-9 w-9 items-center justify-center rounded-full border border-gray-300/70 bg-transparent transition duration-300 ease-in-out"
                    >
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-3.5 w-3.5 transform text-gray-700 transition duration-300 ease-in-out group-hover:scale-110 group-hover:text-red-700"
                        viewBox="0 0 512 512"
                        fill="currentColor"
                        >
                        <path
                            xmlns="http://www.w3.org/2000/svg"
                            d="M349.33 69.33a93.62 93.62 0 0193.34 93.34v186.66a93.62 93.62 0 01-93.34 93.34H162.67a93.62 93.62 0 01-93.34-93.34V162.67a93.62 93.62 0 0193.34-93.34h186.66m0-37.33H162.67C90.8 32 32 90.8 32 162.67v186.66C32 421.2 90.8 480 162.67 480h186.66C421.2 480 480 421.2 480 349.33V162.67C480 90.8 421.2 32 349.33 32z"
                        />
                        <path
                            xmlns="http://www.w3.org/2000/svg"
                            d="M377.33 162.67a28 28 0 1128-28 27.94 27.94 0 01-28 28zM256 181.33A74.67 74.67 0 11181.33 256 74.75 74.75 0 01256 181.33m0-37.33a112 112 0 10112 112 112 112 0 00-112-112z"
                        />
                        </svg>
                    </span>
                    </div>

                    <div class="relative col-span-3 flex flex-col flex-wrap">
                    <div
                        class="box-border flex w-full flex-1 flex-col justify-between px-6 md:px-0"
                    >
                        <div
                        class="transition-color relative z-10 ml-3 text-base font-medium text-gray-700 duration-300 ease-in-out group-hover:text-red-600"
                        >
                        Instagram
                        </div>
                    </div>
                    </div>
                </div>

                <div>
                    <!-- heroicon name: solid/arrow-narrow-right -->
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mx-2 h-5 w-5 text-red-400 transition duration-300 ease-in-out group-hover:translate-x-1.5 group-hover:text-red-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    >
                    <path
                        fill-rule="evenodd"
                        d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                    />
                    </svg>
                </div>
                </a>

                <hr
                class="my-2.5 ml-13 w-full border-t border-dashed border-gray-300/70"
                />

                <!-- Linkedin -->
                <a
                href="https://www.linkedin.com/"
                class="group flex w-full items-center justify-between"
                >
                <div class="flex items-center">
                    <div>
                    <span
                        class="flex h-9 w-9 items-center justify-center rounded-full border border-gray-300/70 bg-transparent transition duration-300 ease-in-out"
                    >
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-3.5 w-3.5 transform text-gray-700 transition duration-300 ease-in-out group-hover:scale-110 group-hover:text-red-700"
                        viewBox="0 0 512 512"
                        fill="currentColor"
                        >
                        <path
                            xmlns="http://www.w3.org/2000/svg"
                            d="M444.17 32H70.28C49.85 32 32 46.7 32 66.89v374.72C32 461.91 49.85 480 70.28 480h373.78c20.54 0 35.94-18.21 35.94-38.39V66.89C480.12 46.7 464.6 32 444.17 32zm-273.3 373.43h-64.18V205.88h64.18zM141 175.54h-.46c-20.54 0-33.84-15.29-33.84-34.43 0-19.49 13.65-34.42 34.65-34.42s33.85 14.82 34.31 34.42c-.01 19.14-13.31 34.43-34.66 34.43zm264.43 229.89h-64.18V296.32c0-26.14-9.34-44-32.56-44-17.74 0-28.24 12-32.91 23.69-1.75 4.2-2.22 9.92-2.22 15.76v113.66h-64.18V205.88h64.18v27.77c9.34-13.3 23.93-32.44 57.88-32.44 42.13 0 74 27.77 74 87.64z"
                        />
                        </svg>
                    </span>
                    </div>

                    <div class="relative col-span-3 flex flex-col flex-wrap">
                    <div
                        class="box-border flex w-full flex-1 flex-col justify-between px-6 md:px-0"
                    >
                        <div
                        class="transition-color relative z-10 ml-3 text-base font-medium text-gray-700 duration-300 ease-in-out group-hover:text-red-600"
                        >
                        Linkedin
                        </div>
                    </div>
                    </div>
                </div>

                <div>
                    <!-- heroicon name: solid/arrow-narrow-right -->
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mx-2 h-5 w-5 text-red-400 transition duration-300 ease-in-out group-hover:translate-x-1.5 group-hover:text-red-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    >
                    <path
                        fill-rule="evenodd"
                        d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                    />
                    </svg>
                </div>
                </a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
      
    <!-- Newsletter -->
    <section class="bg-gray-50 py-12 sm:py-20 lg:py-24">
    <div class="mx-auto max-w-screen-xl px-5 sm:px-6 lg:px-8">
        <!-- Content -->
        <div class="mx-auto flex max-w-xl flex-col items-center text-center">
        <img
            src="{% static 'images/paper-airplane.png' %}"
            class="h-auto w-24 animate-orbit"
        />
        <h2
            class="mt-6 text-3xl font-medium tracking-normal text-gray-900 sm:mt-8 sm:text-4xl md:tracking-tight lg:text-5xl lg:leading-tight"
        >
            Get the most talked about stories directly in your inbox
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-gray-500">
            Every week we share the most relevant news in tech, culture and
            entertainment. Join our community of over
            <span class="font-medium text-gray-800">10,000 readers</span>.
        </p>

        <!-- Newsletter signup container -->
        <div class="mt-8 flex w-full flex-col items-center sm:mt-10">
            <div class="relative h-14 w-full max-w-xl rounded-3xl">
            <!-- Newsletter signup form -->
            <form
                class="group rounded-3xl border border-gray-300/70 bg-transparent transition duration-300 ease-in-out"
            >
                <input
                type="email"
                class="h-14 w-full rounded-3xl border-0 border-transparent bg-white py-3.5 pl-6 pr-36 text-sm leading-5 text-gray-800 transition duration-300 ease-in-out hover:bg-transparent focus:bg-white focus:outline-none focus:ring-2 focus:ring-red-100"
                required
                placeholder="Enter your email"
                ,
                autocomplete="email"
                />

                <button
                type="submit"
                class="before:content-[&quot;&quot;] absolute right-3 top-1.5 inline-flex h-11 items-center bg-transparent px-4 py-2 text-tiny uppercase tracking-widest text-red-700 outline-none transition duration-300 ease-in-out before:absolute before:left-0 before:right-auto before:h-6 before:w-px before:bg-gray-300/70 before:transition before:duration-300 before:ease-in-out hover:text-red-600 focus:outline-none sm:font-medium md:px-6"
                >
                Subscribe
                </button>
            </form>
            </div>

            <p class="mt-4 text-center text-sm text-gray-500">
            Your privacy is important to us. We promise not to send you spam!
            </p>
        </div>
        </div>
    </div>
    </section>

{% endblock %}