{% extends "public_site/layout/base.html" %}
{% load static %}
{% load filters %}

{% block content %}
<!-- Home Hero-->
<section class="bg-gray-50 pt-12 sm:pt-16 lg:pt-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:flex lg:max-w-screen-2xl lg:items-start lg:px-8">
        <!-- Featured Article-->
        {% if featured_blog %}
        <article class="relative lg:sticky lg:top-8 lg:w-1/2">
            <!-- Image -->
            <a href="{% url 'blog_detail' slug=featured_blog.slug %}"
                class="group aspect-h-9 aspect-w-16 relative z-10 block animate-pulse overflow-hidden rounded-2xl bg-gray-100">
                <img class="lazy rounded-2xl object-cover object-center opacity-0 transition duration-300 ease-in-out group-hover:scale-110"
                    data-src="{% if featured_blog.image %}{{ featured_blog.image.url }}{% else %}{% static 'images/feed-04.jpeg' %}{% endif %}" 
                    alt="{{ featured_blog.title }}" />
            </a>

            <!-- Content -->
            <div class="mt-6 md:align-middle">
                <a href="{% url 'blog_category' slug=featured_blog.category.slug %}" class="transition-color relative text-sm font-medium uppercase tracking-widest text-red-700 duration-300 ease-in-out hover:text-red-600">
                    {{ featured_blog.category.name }}
                </a>
                <a href="{% url 'blog_detail' slug=featured_blog.slug %}" class="group mt-3 block">
                    <h2 class="text-3xl font-medium tracking-normal text-gray-900 decoration-gray-800 decoration-3 transition duration-300 ease-in-out group-hover:underline md:tracking-tight lg:text-4xl lg:leading-tight">
                        {{ featured_blog.title }}
                    </h2>
                    <div>
                        <p class="mt-4 text-base leading-loose text-gray-600">
                            {{ featured_blog.content|truncate_html:270 }}
                        </p>
                    </div>
                </a>

                <!-- Author -->
                <div class="mt-4 flex items-center sm:mt-8">
                    <a href="{% url 'blog_author' user_id=featured_blog.author.id %}" class="h-10 w-10 animate-pulse rounded-xl bg-gray-50">
                        <img data-src="{% if featured_blog.author.profile.image %}{{ featured_blog.author.profile.image.url }}{% else %}{% static 'images/author-04.jpeg' %}{% endif %}"
                            class="lazy h-full w-full rounded-xl object-cover object-center opacity-0 transition duration-300 ease-in-out" />
                    </a>
                    <div class="ml-3">
                        <a href="{% url 'blog_author' user_id=featured_blog.author.id %}" class="text-sm font-medium text-gray-800 hover:underline">
                            {{ featured_blog.author.get_full_name}}
                        </a>
                        <p class="text-sm text-gray-500">
                            <time datetime="{{ featured_blog.created_at }}">{{ featured_blog.created_at|date_format }}</time>
                            {% comment %} <span> 6 min read </span> {% endcomment %}
                        </p>
                    </div>
                </div>
            </div>
        </article>
        {% endif %}
        <!-- Recent Articles-->
        <div class="mt-12 sm:mt-16 lg:ml-12 lg:mt-0 lg:w-1/2 xl:ml-16">
            <h3
                class="relative border-b border-gray-300/70 pb-2.5 text-2xl font-medium text-gray-900 before:absolute before:-bottom-px before:left-0 before:h-px before:w-24 before:bg-red-600 before:content-['']">
                Recent stories
            </h3>

            <!-- Articles Container -->
            <div class="grid lg:grid-cols-2 lg:gap-x-5 xl:grid-cols-1">
                {% for blog in recent_blogs %}
                <article class="py-8 sm:flex lg:flex-col xl:flex-row xl:items-center">
                    <!-- Image -->
                    <a href="{% url 'blog_detail' slug=blog.slug %}" class="order-2 w-full sm:w-2/5 lg:order-1 lg:w-full xl:w-2/5">
                        <div
                            class="group aspect-h-9 aspect-w-16 relative z-10 animate-pulse overflow-hidden rounded-2xl bg-gray-100">
                            <img data-src="{% if blog.image %}{{ blog.image.url }}{% else %}{% static 'images/feed-04.jpeg' %}{% endif %}" 
                            alt="{{ blog.title }}" class="lazy rounded-2xl object-cover object-center opacity-0 transition duration-300 ease-in-out group-hover:scale-110" />
                        </div>
                    </a>

                    <!-- Content -->
                    <div
                        class="order-1 mt-5 w-full px-2 sm:mt-0 sm:max-w-sm sm:pl-0 sm:pr-5 lg:order-2 lg:mt-4 xl:ml-5 xl:mt-0 xl:flex-1">
                        <a href="{% url 'blog_category' slug=blog.category.slug %}"
                            class="transition-color text-xs font-medium uppercase tracking-widest text-red-700 duration-300 ease-in-out hover:text-red-600">
                            {{ blog.category.name }}
                        </a>

                        <a href="{% url 'blog_detail' slug=blog.slug %}">
                            <h3 class="mt-2 text-xl font-medium leading-normal tracking-normal text-gray-900 decoration-gray-800 decoration-2 transition duration-300 ease-in-out hover:underline">
                                {{ blog.title }}
                            </h3>
                        </a>

                        <!-- Author -->
                        <div class="mt-4 flex items-center justify-between">
                            <!-- Author meta -->
                            <div class="flex items-center justify-center">
                                <a href="{% url 'blog_author' user_id=blog.author.id %}" class="mr-3 animate-pulse rounded-lg bg-gray-50">
                                    <img class="lazy h-6 w-6 flex-shrink-0 rounded-lg object-cover object-center opacity-0 transition duration-300 ease-in-out"
                                        data-src="{% if blog.author.profile.image %}{{ blog.author.profile.image.url }}{% else %}{% static 'images/author-04.jpeg' %}{% endif %}" alt="Author 01" />
                                </a>
                                <div class="text-sm">
                                    <span class="text-gray-500">By </span>
                                    <a class="font-medium text-gray-700 hover:underline" href="{% url 'blog_author' user_id=blog.author.id %}">{{ blog.author.get_full_name }}</a>
                                    <span class="text-gray-500 lg:hidden xl:inline-block">{{ blog.created_at|date_format}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- Trending Topics -->
<section class="w-full bg-gray-50 pb-14 pt-12 sm:py-20 lg:pt-24">
    <div class="mx-auto max-w-xl px-4 sm:max-w-3xl sm:px-6 md:px-8 lg:max-w-screen-2xl">
        <!-- Section Header -->
        <h3
            class="relative border-b border-gray-300/70 pb-2.5 text-2xl font-medium text-gray-900 before:absolute before:-bottom-px before:left-0 before:h-px before:w-24 before:bg-red-600 before:content-['']">
            Categories
        </h3>

        <!-- Topics -->
        <div class="relative mt-8 sm:mt-9">
            <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-6 lg:grid-cols-6 lg:gap-4 xl:gap-6">
                {% for category in categories|slice:":6" %}
                <div
                    class="group relative z-0 h-40 translate-y-0 transform cursor-pointer overflow-hidden rounded-2xl shadow-md transition duration-300 ease-in-out hover:-translate-y-1">
                    <a href="{% url 'blog_category' slug=category.slug %}" class="absolute inset-0 z-10 h-full w-full rounded-2xl shadow-md"></a>

                    <!-- Image -->
                    <div class="absolute inset-0 h-full w-full bg-gray-100 bg-cover bg-center bg-no-repeat"
                        alt="{{ category.name }}"
                        style="z-index: -1; background-image: url('{% if category.image %}{{ category.image.url }}{% else %}{% static 'images/featured-article-01.jpeg' %}{% endif %}')"></div>

                    <!-- Label -->
                    <div class="absolute inset-x-0 bottom-0 w-full pb-6">
                        <div class="flex w-full justify-center">
                            <span
                                class="inline-flex items-center rounded-md bg-white/90 px-3 py-1 text-sm font-medium text-gray-800 backdrop-blur-lg">
                                {{ category.name }}
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- Feed -->
<section class="relative mx-auto max-w-screen-xl py-12 md:py-16 lg:px-8 lg:py-20">
    <div class="w-full lg:grid lg:grid-cols-3 lg:gap-8">
        <!-- Feed Articles Container -->
        <div class="col-span-2">
            <!-- Articles-->
            <div
                class="mx-auto mt-8 grid max-w-xl gap-6 px-4 sm:px-6 md:max-w-3xl md:grid-cols-2 md:px-8 lg:max-w-none lg:px-0">
                {% for latest_blog in latest_blogs_by_category %}
                <article
                    class="group relative flex flex-col flex-wrap rounded-2xl transition duration-300 ease-in-out hover:shadow-xl">
                    <!-- Image -->
                    <div
                        class="aspect-h-1 aspect-w-2 relative z-10 w-full animate-pulse overflow-hidden rounded-t-2xl bg-gray-50">
                        <a href="{% url 'blog_detail' slug=latest_blog.slug %}">
                            <img class="lazy absolute inset-0 h-full w-full rounded-t-2xl object-cover object-center opacity-0 transition duration-300 ease-in-out group-hover:scale-110"
                                data-src="{% if latest_blog.image %}{{ latest_blog.image.url }}{% else %}{% static 'images/feed-04.jpeg' %}{% endif %}" 
                                alt="{{ latest_blog.title }}"/>
                        </a>
                    </div>

                    <!-- Content -->
                    <div
                        class="box-border flex w-full flex-1 flex-col justify-between rounded-b-2xl border-b-2 border-l-2 border-r-2 border-gray-100 bg-white p-6 transition duration-300 ease-in-out group-hover:border-transparent xl:p-7">
                        <div>
                            <a href="{% url 'blog_category' slug=latest_blog.category.slug %}"
                                class="transition-color relative text-tiny font-medium uppercase tracking-widest text-red-700 duration-300 ease-in-out hover:text-red-600">
                                {{ latest_blog.category.name }}
                            </a>

                            <h3
                                class="mt-3 text-xl font-medium leading-tight text-gray-900 decoration-gray-800 decoration-2 transition duration-300 ease-in-out hover:underline sm:text-2xl lg:text-xl xl:text-2xl">
                                <a href="{% url 'blog_detail' slug=latest_blog.slug %}">
                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                    {{ latest_blog.title }}
                                    <span class="sr-only">{{ latest_blog.title }}</span>
                                </a>
                            </h3>

                            <p class="mt-4 block text-base leading-relaxed text-gray-500">
                                {{ latest_blog.content|truncate_html:20 }}
                            </p>
                        </div>

                        <!-- Author -->
                        <div class="mt-5 flex items-center sm:mt-6">
                            <a href="{% url 'blog_author' user_id=latest_blog.author.id %}" class="relative h-10 w-10 animate-pulse rounded-xl bg-gray-50">
                                <img data-src="{% if latest_blog.author.profile.image %}{{ latest_blog.author.profile.image.url }}{% else %}{% static 'images/author-04.jpeg' %}{% endif %}"
                                    class="lazy h-full w-full rounded-xl object-cover object-center opacity-0 transition duration-300 ease-in-out" />
                            </a>
                            <div class="ml-3">
                                <a href="{% url 'blog_author' user_id=latest_blog.author.id %}"
                                    class="relative text-sm font-medium text-gray-700 hover:underline">
                                    {{ latest_blog.author.get_full_name }}
                                </a>
                                <p class="text-sm text-gray-500">
                                    <time datetime="{{ latest_blog.created_at }}">{{ latest_blog.created_at|date_format }}</time>
                                    {% comment %} <span aria-hidden="true"> &middot; </span> {% endcomment %}
                                    {% comment %} <span> 6 min read </span> {% endcomment %}
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>

        <!-- Sidebar -->
        <div
            class="mx-auto mt-12 w-full max-w-xl px-4 sm:mt-16 sm:px-6 md:max-w-3xl md:px-8 lg:col-span-1 lg:mt-0 lg:max-w-none lg:px-0">
            <!-- Trending Articles -->
            <div class="w-full rounded-2xl bg-gray-50 p-5 sm:p-8">
                <h3
                    class="relative border-b border-gray-300/70 pb-2.5 text-2xl font-medium text-gray-900 before:absolute before:-bottom-px before:left-0 before:h-px before:w-24 before:bg-red-600 before:content-['']">
                    Trending
                </h3>

                <!-- Articles -->
                <div class="space-y-6 pt-6 sm:space-y-5 lg:space-y-6 xl:space-y-5">
                    {% for blog in trending_blogs %}
                    <article class="flex space-x-4 sm:space-x-6 lg:space-x-4">
                        <!-- Image -->
                        <a href="{% url 'blog_detail' slug=blog.slug %}"
                            class="group relative z-10 animate-pulse overflow-hidden rounded-2xl bg-gray-100">
                            <img data-src="{% if blog.image %}{{ blog.image.url }}{% else %}{% static 'images/feed-04.jpeg' %}{% endif %}"
                                class="lazy h-24 w-24 rounded-2xl object-cover object-center opacity-0 transition duration-300 ease-in-out group-hover:scale-110 sm:h-28 sm:w-28 lg:h-20 lg:w-20 xl:h-24 xl:w-24" />
                        </a>

                        <!-- Content -->
                        <div class="w-2/3">
                            <div class="flex h-full w-full flex-1 flex-col justify-center">
                                <div>
                                    <a href="{% url 'blog_detail' slug=blog.slug %}"
                                        class="text-md font-medium leading-snug tracking-normal text-gray-900 decoration-gray-800 decoration-2 transition duration-300 ease-in-out hover:underline">
                                        {{ blog.title }}
                                    </a>
                                </div>

                                <!-- Author -->
                                <div class="mt-2 flex items-center justify-between">
                                    <!-- Author meta -->
                                    <div class="flex items-center justify-center">
                                        <div class="text-sm">
                                            <span class="text-gray-500">By </span>
                                            <a class="font-medium text-gray-700 hover:underline"
                                                href="{% url 'blog_author' user_id=blog.author.id %}">{{ blog.author.get_full_name }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>

            <!-- Popular Tags -->
            <div class="mt-8 w-full rounded-2xl bg-gray-50 p-5 sm:p-8">
                <h3
                    class="relative border-b border-gray-300/70 pb-2.5 text-2xl font-medium text-gray-900 before:absolute before:-bottom-px before:left-0 before:h-px before:w-24 before:bg-red-600 before:content-['']">
                    Latest tags
                </h3>

                <!-- Tags -->
                <div class="pt-5">
                    <ul class="-m-1 flex flex-wrap justify-start">
                        {% for tag in tags|slice:10 %}
                        <li>
                            <a href="{% url 'blog_tag' slug=tag.slug %}">
                                <span
                                    class="m-1 inline-flex items-center rounded-full border border-gray-300/70 bg-transparent px-4 py-1 text-sm font-medium text-gray-800 transition duration-300 ease-in-out hover:text-red-700 sm:px-4 sm:py-1.5">
                                    {{ tag.name }}
                                </span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Newsletter -->
<section class="bg-gray-50 py-12 sm:py-20 lg:py-24">
    <div class="mx-auto max-w-screen-xl px-5 sm:px-6 lg:px-8">
        <!-- Content -->
        <div class="mx-auto flex max-w-xl flex-col items-center text-center">
            <img src={% static 'images/paper-airplane.png' %} class="h-auto w-24 animate-orbit" />
            <h2
                class="mt-6 text-3xl font-medium tracking-normal text-gray-900 sm:mt-8 sm:text-4xl md:tracking-tight lg:text-5xl lg:leading-tight">
                Get the most talked about stories directly in your inbox
            </h2>
            <p class="mt-4 text-lg leading-relaxed text-gray-500">
                Every week we share the most relevant news in tech, culture and
                entertainment. Join our community of over
                <span class="font-medium text-gray-800">10,000 readers</span>.
            </p>

            <!-- Newsletter signup container -->
            <div class="mt-8 flex w-full flex-col items-center sm:mt-10">
                <div class="relative h-14 w-full max-w-xl rounded-3xl">
                    <!-- Newsletter signup form -->
                    <form
                        class="group rounded-3xl border border-gray-300/70 bg-transparent transition duration-300 ease-in-out">
                        <input type="email"
                            class="h-14 w-full rounded-3xl border-0 border-transparent bg-white py-3.5 pl-6 pr-36 text-sm leading-5 text-gray-800 transition duration-300 ease-in-out hover:bg-transparent focus:bg-white focus:outline-none focus:ring-2 focus:ring-red-100"
                            required placeholder="Enter your email" , autocomplete="email" />

                        <button type="submit"
                            class="before:content-[&quot;&quot;] absolute right-3 top-1.5 inline-flex h-11 items-center bg-transparent px-4 py-2 text-tiny uppercase tracking-widest text-red-700 outline-none transition duration-300 ease-in-out before:absolute before:left-0 before:right-auto before:h-6 before:w-px before:bg-gray-300/70 before:transition before:duration-300 before:ease-in-out hover:text-red-600 focus:outline-none sm:font-medium md:px-6">
                            Subscribe
                        </button>
                    </form>
                </div>

                <p class="mt-4 text-center text-sm text-gray-500">
                    Your privacy is important to us. We promise not to send you spam!
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}