{% extends "public_site/layout/base.html" %}
{% load static %}

{% block content %}
<!-- Tag Header -->
<section class="bg-gray-50 py-12 sm:py-20 lg:py-24">
    <!-- Conatiner -->
    <div class="mx-auto max-w-xl px-4 sm:px-12 md:max-w-3xl lg:max-w-screen-xl lg:px-8">
        <div class="flex w-full items-center justify-between">
            <!-- Tag -->
            <div>
                <p class="text-xs uppercase tracking-widest text-red-700">
                    Recent in
                </p>
                <h1 class="mt-2 text-3xl font-medium tracking-normal text-gray-900 sm:text-4xl md:tracking-tight lg:text-5xl lg:leading-tight">
                    {{ tag.name }}
                </h1>
            </div>

            <!-- Breadcrumb -->
            <div class="hidden md:block">
                <nav aria-label="breadcrumb" class="flex items-center space-x-1.5 text-[15px] sm:space-x-4">
                    <span>
                        <a href="{% url 'home' %}" class="group flex items-center text-gray-500 no-underline transition duration-300 ease-in-out hover:text-gray-900 hover:no-underline">
                            <!-- Heroicon name: solid/home -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-[1.125rem] w-[1.125rem] flex-shrink-0 text-gray-400 transition duration-300 ease-in-out group-hover:text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"/>
                            </svg>
                            Home
                        </a>
                    </span>

                    <span class="text-gray-400">
                        <!-- Heroicon name: solid/chevron-right -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                    </span>
                    <span class="text-red-700">{{ tag.name }}</span>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- Feed with Sidebar -->
<section class="relative mx-auto max-w-xl px-4 py-12 sm:px-12 sm:py-16 md:max-w-3xl lg:max-w-screen-xl lg:px-8 lg:py-24">
    <div class="w-full lg:grid lg:grid-cols-3 lg:gap-8 xl:gap-12">
        <!-- Articles Container -->
        <div class="col-span-2">
            {% if posts %}
            <!-- Articles -->
            <div class="mb-6 border-b-2 border-gray-100 pb-8 sm:mb-10 sm:pb-10">
                <!-- 1st Article -->
                {% for post in posts %}
                <article class="md:grid md:grid-cols-4 md:gap-8">
                    <!-- Image -->
                    <div class="md:col-span-1">
                        <a href="{% url 'post_detail' slug=post.slug %}" class="group aspect-h-9 aspect-w-16 relative z-10 block animate-pulse overflow-hidden rounded-2xl bg-gray-50 md:aspect-h-1 md:aspect-w-1">
                            <img data-src="{% if post.image %}{{ post.image.url }}{% else %}{% static 'images/archive-01.jpeg' %}{% endif %}" 
                            class="lazy rounded-2xl object-cover object-center opacity-0 transition duration-300 ease-in-out group-hover:scale-110"/>
                        </a>
                    </div>

                    <!-- Content -->
                    <div class="relative mt-6 flex flex-col flex-wrap md:col-span-3 md:mt-0">
                        <div class="mb-8 box-border flex w-full flex-1 flex-col justify-between border-b-2 border-gray-100 px-6 pb-8 md:px-0">
                            <div>
                                <a href="{% url 'post_category' slug=post.category.slug %}" class="transition-color relative text-tiny font-medium uppercase tracking-widest text-red-700 duration-300 ease-in-out hover:text-red-600">
                                    {{ post.category.name }}
                                </a>

                                <h3 class="mt-2.5 text-xl font-medium leading-tight text-gray-900 decoration-gray-800 decoration-2 transition duration-300 ease-in-out hover:underline sm:text-2xl lg:text-xl xl:text-2xl">
                                    <a href="{% url 'post_detail' slug=post.slug %}">
                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                        {{ post.title }}
                                    </a>
                                </h3>

                                <p class="mt-3.5 block text-base leading-relaxed text-gray-500">
                                    {{ post.content | truncatechars:150 }}
                                </p>
                            </div>

                            <!-- Article Footer Info -->
                            <footer class="mt-5 flex items-center sm:mt-7">
                                <!-- Author Image -->
                                <a href="{% url 'post_author' username=post.author.username %}" class="relative mr-3 animate-pulse rounded-lg bg-gray-50">
                                    <img class="lazy h-7 w-7 flex-shrink-0 rounded-lg object-cover object-center opacity-0 transition duration-300 ease-in-out lg:h-8 lg:w-8"
                                    data-src="{% if post.author.profile.image %}{{ post.author.profile.image.url }}{% else %}{% static 'images/author-04.jpeg' %}{% endif %}" alt="" />
                                </a>

                                <div class="flex items-center text-sm lg:text-[15px]">
                                    <span class="hidden text-gray-500 sm:inline-block">By&nbsp;</span>
                                    <a class="relative font-medium text-gray-700 hover:underline dark:text-gray-300" href="{% url 'post_author' username=post.author.username %}">{{ post.author.get_full_name }}</a>

                                    <svg xmlns="http://www.w3.org/2000/svg" class="ml-3 h-[18px] w-[18px] text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                                    </svg>
                                    <span class="ml-1 text-gray-500">{{ post.created_at|date:"F j, Y" }}</span>

                                    {% comment %} <span class="hidden items-center sm:flex">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="ml-2.5 h-[18px] w-[18px] text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                        </svg>
                                        <span class="ml-1 text-gray-500">15 min read</span>
                                    </span> {% endcomment %}
                                </div>
                            </footer>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>

            <!-- Pagination-->
            <nav class="flex items-center justify-between">
                <!-- Previous Button -->
                {% if page_obj.has_previous %}
                    <div class="flex w-0 flex-1">
                        <a href="?page={{ page_obj.previous_page_number }}" class="inline-flex h-12 items-center justify-center rounded-xl bg-gray-50 px-4 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"/>
                            </svg>
                            Previous
                        </a>
                    </div>
                {% else %}
                    <div class="flex w-0 flex-1">
                        <span class="inline-flex h-12 items-center justify-center rounded-xl bg-gray-50 px-4 text-sm font-medium text-gray-300 cursor-not-allowed">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"/>
                            </svg>
                            Previous
                        </span>
                    </div>
                {% endif %}
                <!-- Pages -->
                <div class="hidden space-x-2.5 md:flex">
                    {% for page_num in page_obj.paginator.page_range %}
                        {% if page_num == page_obj.number %}
                            <a href="?page={{ page_num }}" class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-red-600 text-sm font-medium text-white" aria-current="page">
                                {{ page_num }}
                            </a>
                        {% else %}
                            <a href="?page={{ page_num }}" class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700">
                                {{ page_num }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- Next Button -->
                {% if page_obj.has_next %}
                    <div class="flex w-0 flex-1 justify-end">
                        <a href="?page={{ page_obj.next_page_number }}" class="inline-flex h-12 items-center justify-center rounded-xl bg-gray-50 px-4 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700">
                            Next
                            <svg xmlns="http://www.w3.org/2000/svg" class="ml-2.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4-4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                            </svg>
                        </a>
                    </div>
                {% else %}
                    <div class="flex w-0 flex-1 justify-end">
                        <span class="inline-flex h-12 items-center justify-center rounded-xl bg-gray-50 px-4 text-sm font-medium text-gray-300 cursor-not-allowed">
                            Next
                            <svg xmlns="http://www.w3.org/2000/svg" class="ml-2.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                            </svg>
                        </span>
                    </div>
                {% endif %}
            </nav>
            {% else %}
                <p>No posts found in this category.</p>
            {% endif %}
        </div>

        <!-- Sidebar -->
        <div class="mt-12 w-full space-y-8 sm:mt-16 lg:col-span-1 lg:mt-0">
            <!-- Most read articles -->
            <div class="w-full rounded-2xl bg-gray-50 p-5 sm:p-8">
                <h3 class="relative border-b border-gray-300/70 pb-2.5 text-2xl font-medium text-gray-900 before:absolute before:-bottom-px before:left-0 before:h-px before:w-24 before:bg-red-600 before:content-['']">
                    Recent posts in {{ tag.name }}
                </h3>

                <!-- Articles -->
                <div class="space-y-6 pt-6 sm:space-y-5 lg:space-y-6 xl:space-y-5">
                    {% for post in recent_posts %}
                    <article class="flex space-x-4 sm:space-x-6 lg:space-x-4">
                        <!-- Image -->
                        <a href="{% url 'post_detail' slug=post.slug %}" class="group relative z-10 animate-pulse overflow-hidden rounded-2xl bg-gray-100">
                            <img data-src="{% if post.image %}{{ post.image.url }}{% else %}{% static 'images/feed-04.jpeg' %}{% endif %}" 
                            alt="{{ post.title }}" class="lazy h-24 w-24 rounded-2xl object-cover object-center opacity-0 transition duration-300 ease-in-out group-hover:scale-110 sm:h-28 sm:w-28 lg:h-20 lg:w-20 xl:h-24 xl:w-24"/>
                        </a>

                        <!-- Content -->
                        <div class="w-2/3">
                            <div class="flex h-full w-full flex-1 flex-col justify-center">
                                <div>
                                    <a href="{% url 'post_detail' slug=post.slug %}" class="text-md font-medium leading-snug tracking-normal text-gray-900 decoration-gray-800 decoration-2 transition duration-300 ease-in-out hover:underline">
                                        {{ post.title }}
                                    </a>
                                </div>

                                <!-- Author -->
                                <div class="mt-2 flex items-center justify-between">
                                    <!-- Author meta -->
                                    <div class="flex items-center justify-center">
                                        <div class="text-sm">
                                            <span class="text-gray-500">By </span>
                                            <a class="font-medium text-gray-700 hover:underline" href="{% url 'post_author' username=post.author.username %}">{{ post.author.get_full_name }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}