{% extends "layout/base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-grd-primary order-card">
            <div class="card-body">
                <h6 class="text-white">{% if is_author %}My Posts{% else %}Total Posts{% endif %}</h6>
                <h2 class="text-end text-white"><i
                        class="feather icon-file float-start"></i><span>{{ total_posts }}</span></h2>
            </div>
        </div>
    </div>
    {% if can_view_user %}
    <div class="col-md-6 col-xl-3">
        <div class="card bg-grd-success order-card">
            <div class="card-body">
                <h6 class="text-white">Total Users</h6>
                <h2 class="text-end text-white"><i
                        class="feather icon-users float-start"></i><span>{{ users_count }}</span></h2>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-md-6 col-xl-3">
        <div class="card bg-grd-warning order-card">
            <div class="card-body">
                <h6 class="text-white">Total Categories</h6>
                <h2 class="text-end text-white"><i
                        class="feather icon-align-justify float-start"></i><span>{{ total_category }}</span></h2>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card bg-grd-danger order-card">
            <div class="card-body">
                <h6 class="text-white">Total Tags</h6>
                <h2 class="text-end text-white"><i
                        class="feather icon-tag float-start"></i><span>{{ total_tags }}</span></h2>
            </div>
        </div>
    </div>
    <!-- Recent Orders start -->
    <div class="col-sm-12">
        <div class="card table-card">
            <div class="card-header">
                <h5>Recent Posts</h5>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Category</th>
                            {% if not is_author %}
                            <th>Author</th>
                            {% endif %}
                            <th>Status</th>
                            <th>Created At</th>
                        </tr>
                        {% for post in posts %}
                        <tr>
                            <td>
                            {% if post.image %}
                                <img src="{{ post.image.url }}" alt="post img" class="img-fluid rounded" width="50" height="50">
                            {% else %}
                                <p>No Image</p>
                            {% endif %}
                            </td>
                            <td>{{ post.title | truncatechars:20 }}</td>
                            <td>{{ post.category.name }}</td>
                            {% if not is_author %}
                            <td>{{ post.author.get_full_name }}</td>
                            {% endif %}                            
                            <td> {% if post.is_published %}
                                <span class="badge bg-success">Published</span>
                                {% else %}
                                <span class="badge bg-secondary">Draft</span>
                                {% endif %}</td>
                            <td>{{ post.created_at| date_format }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div><!-- Recent Orders end -->
</div>
{% endblock %}