{% extends "layout/base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>{% if tag %}Edit{% else %}Create{% endif %} Tag</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.name.id_for_label }}">Name</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name" value="{{ form.name.value|default:'' }}">
                        {% if form.name.errors %}
                            <div class="text-danger">{{ form.name.errors }}</div>
                        {% endif %}
                    </div>

                    <button type="submit" class="btn btn-primary">{% if tag %} Update {% else %} Create {% endif %}</button>
                    <a href="{% url 'tag:tag_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}