{% extends "layout/base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.name.id_for_label }}">Name</label>
                        {{ form.name }}
                        {% if form.name.errors %}
                            <div class="text-danger">{{ form.name.errors }}</div>
                        {% endif %}
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="{% url 'tag:tag_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}