{% extends "layout/base.html" %}
{% load static %}

{% block page_css %}
<!-- [Page specific CSS] start -->
<link rel="stylesheet" href="{% static 'css/plugins/dataTables.bootstrap5.min.css' %}">
<!-- [Page specific CSS] end -->
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Tags</h4>
                    <a href="{% url 'tag:tag_create' %}" class="btn btn-primary">Add Tag</a>
                </div>
            </div>
            <div class="card-body">
                <div class="dt-responsive">
                    <table id="tag-table" class="table table-striped table-bordered nowrap">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Total Blogs</th>
                                <th>Created At</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_js %}
<!-- [Page Specific JS] start -->
{% include 'layout/partials/_scripts.html' %}
<script> 
    initializeDataTable('#tag-table', "{% url 'tag:tag_list' %}", [
        { "data": "name" },
        { "data": "total_blogs" },
        { "data": "created_at" },
        {
            "data": "actions",
            "orderable": false,
            "searchable": false
        }
    ]);
    </script>
  <!-- [Page Specific JS] end -->
{% endblock %}