{% extends "layout/base.html" %}
{% load static %}
{% load tags %}

{% block title %}{{title}}{% endblock %}

{% block page_css %}
    {% datatable 'css' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">User Management</h4>
                    {% if can_add_user %}
                        <a href="{% url 'user:user_create' %}" class="btn btn-primary">Add User</a>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                {% datatable 'table' table_id='users' columns=columns %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {% datatable 'js' %}
    {% sweetalert 'js' %}
{% endblock %}

{% block script %}
    {% include 'layout/partials/_scripts.html' %}
    {% datatable 'script' %}
    {% sweetalert 'script' %}
    <script>
        $(function(){
            ajaxdatatable({
                selector: '#users', 
                url: '{% url "user:user_datatable" %}',
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                columns: [
                    { "data": "username" },
                    { "data": "email" },
                    { "data": "first_name" },
                    { "data": "last_name" },
                    {
                        "data": "is_active",
                        "render": function (data) {
                            return data 
                                ? '<span class="badge bg-success">Active</span>' 
                                : '<span class="badge bg-danger">InActive</span>';
                        }
                    },
                    { "data": "action", "searchable": false, "orderable": false, "render": function(data, type, row) {
                        let action = {};
                        {% if can_edit_user %}
                            action['edit'] = '{% url "user:user_edit" id=0 %}'.replace('0', row.id)
                        {% endif %}
                        {% if can_delete_user %}
                            action['delete'] = '{% url "user:user_delete" id=0 %}'.replace('0', row.id)
                        {% endif %}
                        return actionColumn(action)
                    }},
                ],
                order: [0, 'desc']
            })
        })  
        $(document).on('click', '#delete', function(e){
            e.preventDefault;

            var url = $(this).data('href');
            var fields = '{% csrf_token %}';

            sweetalert().then((result) => {
                if (result.isConfirmed) {
                    postform(url, fields)
                }
            })
        })
            
    </script>
{% endblock %}