{% extends "layout/base.html" %}
{% load static %}

{% block page_css %}
<!-- [Page specific CSS] start -->
<link rel="stylesheet" href="{% static 'css/plugins/dataTables.bootstrap5.min.css' %}">
<!-- [Page specific CSS] end -->
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">User</h4>
                    <a href="{% url 'user:user_create' %}" class="btn btn-primary">Add User</a>
                </div>
            </div>
            <div class="card-body">
                <div class="dt-responsive">
                    <table id="user-table" class="table table-striped table-bordered nowrap">
                        <thead>
                            <tr>
                                <th>UserName</th>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_js %}
<!-- [Page Specific JS] start -->
{% include 'layout/partials/_scripts.html' %}
<script>
    initializeDataTable('#user-table', "{% url 'user:user_list' %}", [
        { "data": "username" },
        { "data": "email" },
        { "data": "first_name" },
        { "data": "last_name" },
        { 
            "data": "status",
            "render": function(data) {
                return data;  
            }
        },
        {
            "data": "actions",
            "orderable": false,
            "searchable": false
        }
    ]);
</script>
  <!-- [Page Specific JS] end -->
{% endblock %}